[2019-08-04 08:16] sendilkumarn opened #1 "[Generator] Design prompts"
Design and decide the prompts.

* What are the applications we will be supporting ?
    - Monolith
    - Microservices
    - UAA

* Databases to support

* Caching to support

* authentication to support

Based on the above decisions let us change the prompts.

[2019-08-04 08:17] sendilkumarn opened #2 "[Project] Add Code of Conduct"

[2019-08-06 08:39] atomfrede commented on #1
I would keep it simple in the beginning. E.g.

* Monolith and Microservice
* PSQL, MySQL, Mongo(?) (and maybe go with testcontainers so no h2 for development)
* Caching no preference
* JWT, Oauth

[2019-08-06 14:17] sendilkumarn commented on #1
I was even thinking just to have Monolith and SQL databases to start with  :)

[2019-08-06 14:21] atomfrede commented on #1
Even better. But both jwt and oauth?

[2019-08-06 14:25] sendilkumarn commented on #1
Yeah I want both of them, But will be really happy to hear from @graemerocher or @jameskleeh opinions before moving there.

[2019-08-06 14:29] jameskleeh commented on #1
I'm not really sure what's being asked or the implications of an answer

[2019-08-06 14:29] graemerocher commented on #1
We Probably need a bit more background. My knowledge of jhipster is short it seems :)

These would be the options the user is displayed when generating the app right? For databases we support configurations for a range of them but repositories for only SQL right now with Micronaut Data.

Caching we support Redis and Caffeine but will add more in 1.3

For security we support both JWT and OpenID Con

[2019-08-06 14:38] sendilkumarn commented on #1
@jameskleeh It directly translates to more work 😉  Can we set up a call, I will explain a bit on how JHipster works (~20 minutes)?

[2019-08-06 14:39] jameskleeh commented on #1
Sure - I'm pretty flexible on EST. Just let me know when

[2019-08-06 14:45] sendilkumarn commented on #1
Sure let us have it on tomorrow (7th Aug). 1400H EST ?

[2019-08-06 14:45] jameskleeh commented on #1
@sendilkumarn Sounds good - shoot me an invite kleehj@objectcomputing.com

[2019-08-06 14:48] sendilkumarn commented on #1
Done 👍

[2019-08-08 07:20] #2 closed

[2019-11-27 09:10] amanganiello90 opened #6 "Question about status of project"
Hi all,
it is a beautiful project.. great!
I would like to know the features supported from this blueprint and the status work progress.
So I can contribute to this.
Thanks for the attention, good job!

[2019-11-28 22:33] sendilkumarn commented on #6
The current work is happening at https://github.com/jhipster/jhipster-sample-app-micronaut

[2019-12-02 08:12] amanganiello90 commented on #6
Thanks

[2019-12-02 08:12] #6 closed

[2020-02-04 22:06] willbuck opened #9 "Unable to run `mhipster` from public package"
Hey @sendilkumarn !

I tried installing this but it seemed as if just a `package.json` ended up in my global `node_modules/generator-jhipster-micronaut`, and no `mhipster` executable in my global `node/VERSION/bin`. After following the `contributing guidelines` instructions, I was able to build the repo and `npm link` it locally, but it seems like these instructions should probably be indicated in

[2020-02-12 08:53] sendilkumarn commented on #9
My basic idea here is to revamp the prompts to only support the basic things and generate project with that (a simple basic server side only project) and then build from it

[2020-02-27 10:19] sendilkumarn opened #11 "Fix Production Config and thymeleaf translation support in tests"
Solving a few latent issues (seems the prod config isn't quite right, getting a driver issue, also thymeleaf translation support wasn't working in the tests when I would think it ought to)

[Refer](https://github.com/jhipster/generator-jhipster-micronaut/pull/10#issuecomment-590968351)

[2020-02-27 10:20] sendilkumarn opened #12 "Add Entity Support"

[2020-02-27 10:20] sendilkumarn opened #13 "Add React support"

[2020-02-27 10:20] sendilkumarn opened #14 "Add Gradle support"

[2020-02-27 10:20] sendilkumarn opened #15 "Decide on Databases to support"

[2020-02-27 10:21] sendilkumarn opened #16 "Decide on authentication types to support"

[2020-02-27 14:41] willbuck commented on #11
These have been solved by
https://github.com/jhipster/generator-jhipster-micronaut/pull/10/commits/ea82d24016849e5042118509f15b8b7253824660
and
https://github.com/jhipster/generator-jhipster-micronaut/pull/10/commits/6940af99038b522839f91d92ed20274afbdef5e5

Thanks for converting my task list to issues, good call!

[2020-02-27 14:41] #11 closed

[2020-02-27 14:54] atomfrede commented on #14
I can have a look at this. Most likely after I the edge cases in the neo4j integration have been fixed

[2020-03-01 20:35] sendilkumarn commented on #14
Cool that will be awesome.

[2020-03-04 15:47] willbuck commented on #16
So just to get the conversation started:

*JWT* is currently supported by the [`issue-9` branch](https://github.com/jhipster/generator-jhipster-micronaut/tree/issue-9) branch.

I believe it won't be too much of an issue to support *Oauth2*, we have [support for that](https://micronaut-projects.github.io/micronaut-security/latest/guide/#oauth) and even have a [guide specific to Okta](https://guides

[2020-03-04 15:49] jdubois commented on #16
JWT then OAuth2. Also, for some businesses I would recommend OAuth2.
Nobody uses session-based, don't do this!

[2020-03-04 16:20] graemerocher commented on #16
Agreed with @jdubois

[2020-03-04 16:39] willbuck commented on #15
Looking to get the conversation started on this issue now as well, so we know what we're doing next when we get there.

I believe we have varying levels of support via GORM for all of these databases, however that would assume users create their app with Groovy. I think we should probably have a discussion about whether to be targeting multiple source languages (our users primarily prefer Groovy I

[2020-03-04 17:17] atomfrede commented on #15
As we plan to make psql the default database I would go with psql and micronaut data. Regarding the language I would say let's focus on java for now.

[2020-03-04 17:25] graemerocher commented on #15
Agreed on both counts

[2020-03-04 17:26] atomfrede commented on #16
No final decision yet but we might remove session for jhipster 7 so jwt and oauth +1

[2020-03-04 20:57] sendilkumarn commented on #16
The lesser the better and we can support them easily. Let us do JWT + OAuth2

[2020-03-04 21:00] sendilkumarn commented on #15
Supporting multiple languages is a big pain and requires a lot of effort. So let us focus Java first. H2, PSQL and MySQL makes sense to start with. I agree 👍

[2020-03-04 21:49] willbuck commented on #16
Sounds like we have consensus!

[2020-03-05 19:15] willbuck commented on #14
@atomfrede are you actively work on this? I had started on it yesterday afternoon, but can pick up something else if you're already into it

[2020-03-05 19:51] atomfrede commented on #14
No I didn't start yet. So go ahead!

[2020-03-05 20:02] willbuck commented on #14
Okay cool. I'm starting w/ a branch of the sample-app that removes all the maven bits and adds the gradle bits, so it might be a little bit yet before I branch the generator. I'll link the sample app branch once I have it working (was a little stuck this morning but had @ZacharyKlein and @jameskleeh work through some micronaut-data related kinks this afternoon with me!)

[2020-03-06 15:17] willbuck commented on #14
Okay, [gradle branch is working](https://github.com/jhipster/jhipster-sample-app-micronaut/tree/gradle)

More needed to change than expected; we had some things working out of happenstance by the look of things in the maven sample app. For example, we were previously including some spring things [via the micronaut-hibernate-jpa](https://github.com/jhipster/jhipster-sample-app-micronaut/commit/b437

[2020-03-09 14:08] ZacharyKlein opened #20 "Review configuration"
Some Spring-specific configuration appears to remain in the application - review and remove/convert

[2020-03-09 18:33] JasonTypesCodes opened #21 "Verify use of `@Size` field_validators.ejs"
`@Size` field validator has been commented out of generators/entity-server/templates/src/main/java/package/common/field_validators.ejs with the following:

We feel like this is incorrect and `@Size` should be supported but need to validate before re-enabling the block.

[2020-03-18 21:02] JasonTypesCodes opened #22 "Upgrade to Micronaut 1.3.4"
Micronaut 1.3.4 fixes an issue we found using jhipster-generated applications under load.  Once 1.3.4 has been released, we should upgrade.

See: https://github.com/micronaut-projects/micronaut-core/issues/2929

[2020-03-18 21:05] JasonTypesCodes opened #23 "Clean up pom dependencies to use Micronaut BOM"
There are declared versions for multiple dependencies in the pom that are covered by the Micronaut bom:

* [x] Micronaut Data
* [x] Micrometer
* [x] JUnit
* [x] Hibernate

[2020-03-18 21:18] #12 closed

[2020-03-19 21:39] JasonTypesCodes opened #24 "Response Headers in sample application include the string `null`"
I noticed the following response headers in the Micronaut JHipster Sample application:

[code]

As you can see, some of the headers have the string "null" in them:

[code]

[2020-04-05 15:58] #13 closed

[2020-04-08 06:13] ZacharyKlein opened #28 "Test results logged as ERROR"
[code]

[2020-04-08 18:06] mraible commented on #28
I believe this might happen on the main generator too.

[2020-04-08 18:13] JasonTypesCodes opened #29 "Application created by generator should include a thread pool size"
See:

https://docs.micronaut.io/1.3.4/guide/index.html#reactiveServer
-and-
https://micronaut-projects.github.io/micronaut-data/latest/guide/index.html#reactive

[2020-04-09 06:54] atomfrede commented on #28
This comes from the frontend maven plugin. npm logs to stderr and the maven plugin forwards it as error (which sound correct in fact). See e.g.

* https://github.com/eirslett/frontend-maven-plugin/issues/411
* https://github.com/eirslett/frontend-maven-plugin/issues/829

So I think we must live with that sadly.

[2020-04-09 10:45] sendilkumarn commented on #28
Yeah we have to live with this.

[2020-04-13 18:30] JasonTypesCodes opened #31 "Add Email Functionality"
Add email functionality removed by #30

[2020-04-13 18:30] #14 closed

[2020-04-13 18:37] JasonTypesCodes opened #32 "Docker build in Gradle project does not include the UI"
In a Maven project, a docker build created following [these instructions](https://www.jhipster.tech/docker-compose/) will create a container that, when run, hosts the client application.  The Gradle build results in a container that does not host the client application

[2020-04-13 18:44] atomfrede commented on #32
I can try to check in the coming days. Looking at the current config for maven I think the generated config for gradle is different. Can you post the generated `docker.gradle`?

[2020-04-13 18:50] ZacharyKlein commented on #32
@atomfrede I'm not seeing a `docker.gradle` file in the generated project.

[2020-04-13 19:00] atomfrede commented on #32
Ah then that's the problem I guess.

[2020-04-13 19:05] ZacharyKlein commented on #32
@atomfrede I take that back - I was looking in a Maven project. 🤦  Here's what the `docker-gradle` file looks like in a Gradle project. I'm not seeing anything that strikes me as relevant to serving the UI, however.

[code]

[2020-04-13 19:06] atomfrede commented on #32
Would agree with you. The base images differ from maven but won't make any difference

[2020-04-13 19:18] atomfrede commented on #32
So maybe we have the same problem in the main generator :thinking:

[2020-04-13 19:19] ZacharyKlein commented on #32
I am testing that hypothesis as we speak. :)

[2020-04-13 19:24] JasonTypesCodes opened #33 "Add OAuth 2.0 Support"

[2020-04-15 14:37] JasonTypesCodes opened #34 "Some jars created with `./mvnw clean package` do not include the UI application resources"
Using a Maven project generated from the current generator, running `.mvnw clean package` only includes the web application resources on every other run.

A working build looks like:
[code]

A problem build looks like:
[code]

Notice that the problematic build does not include:
[code]

[2020-04-16 17:04] #22 closed

[2020-04-16 17:07] #32 closed

[2020-04-16 17:44] #28 closed

[2020-04-19 02:39] #29 closed

[2020-04-24 16:26] JasonTypesCodes commented on #20
`application-dev.yml` still contains:
[code]

[2020-04-24 16:26] JasonTypesCodes commented on #20
Also, we are outputting a `banner.txt` in resources and I don't think it does anything.

[2020-05-05 04:47] mraible opened #39 "Contributing guide has some issues"
https://github.com/jhipster/generator-jhipster-micronaut/blob/master/CONTRIBUTING.md

1. Yoeman doesn't need to be installed
2. `cd jhipster-micronaut` should be `cd generator-jhipster-micronaut`

[2020-05-05 04:49] mraible opened #40 "When creating a new Micronaut app, reactive prompt should be suppressed"
This question shouldn't exist for Micronaut apps:

[code]

Related: the following message should change to say "Micronaut" at the end of the generation process.

[code]

[2020-05-05 21:35] JasonTypesCodes opened #41 "Update README in generated projects to reflect the correct commands"
Please see: https://github.com/jhipster/jhipster-sample-app-micronaut/issues/4

[2020-05-12 18:29] #33 closed

[2020-05-14 04:06] JasonTypesCodes opened #42 "Compilation fails if JWT auth is selected"
This was likely introduced with the OAuth support:

[code]

[2020-05-14 14:35] JasonTypesCodes opened #43 "Add Microservice Project Support"

[2020-05-14 14:37] JasonTypesCodes commented on #9
@willbuck is this issue still needed?

[2020-05-14 14:39] willbuck commented on #9
No @JasonTypesCodes , it should have closed w/ my merged PR on Mar 6. My bad for missing that!

[2020-05-14 14:39] #9 closed

[2020-05-14 14:43] ZacharyKlein commented on #42
@JasonTypesCodes This should be fixed now. I moved the listed classes to a conditional block for `oauth2`

[2020-05-14 15:22] JasonTypesCodes commented on #42
New error now:
[code]

It looks like the `login` method on the LoginService is expecting a `Login` credentials as input.

[2020-05-14 15:29] mraible commented on #42
I'm curious - why is there a Keycloak-specific class (`KeycloakEndSessionEndpoint`)? We try to make our OAuth implementation IdP-agnostic.

[2020-05-14 16:55] jameskleeh commented on #42
@mraible Because end session implementation is not part of the open id spec, thus vendor specific details have to be provided. Micronaut security does not currently have an implementation specific to Keycloak

[2020-05-14 17:00] sdelamo commented on #42
Since the redirect parameters are being populated from Javascript. We probably should be able to replace `KeycloackEndSessionEndpoint` with:

[code]

[2020-05-14 17:20] JasonTypesCodes opened #44 "Support MariaDB"

[2020-05-14 17:25] mraible commented on #42
You might be able use something similar to what we use for Spring Boot. We just have a [`LogoutController`](https://github.com/jhipster/generator-jhipster/blob/master/generators/server/templates/src/main/java/package/web/rest/LogoutResource.java.ejs) that returns the logout endpoint URI and ID token. This works with both Keycloak and Okta, and should with others as well.

Spring Security supports

[2020-05-14 18:23] JasonTypesCodes opened #45 "Refactor out Keycloak-specific EndSessionEndpoint"
This arose from discussion in #42

We should make our OAuth implementation agnostic to the identity provider implementation.

[2020-05-14 18:23] JasonTypesCodes commented on #42
I created #45 for the Keycloak implementation

[2020-05-14 18:27] JasonTypesCodes opened #46 "Support Caffeine Cache"

[2020-05-14 18:33] JasonTypesCodes opened #47 "Support Hazelcast"

[2020-05-14 18:45] JasonTypesCodes opened #48 "Support Redis"

[2020-05-14 18:46] JasonTypesCodes opened #49 "Support MongoDB"

[2020-05-14 18:49] JasonTypesCodes opened #50 "Support Inifinispan"

[2020-05-14 19:04] JasonTypesCodes opened #51 "Generated project does not compile when "No Cache" is selected"
I imagine this is relatively simple to overcome.  Generating a project with no cache results in:

[code]

I assume we shouldn't be outputting the `CacheConfiguration` class at all.

[2020-05-14 19:07] JasonTypesCodes opened #52 "Upgrade Micronaut to latest 1.3.x"

[2020-05-14 19:07] JasonTypesCodes opened #53 "Upgrade JHipster to 6.8.0"

[2020-05-14 19:23] JasonTypesCodes opened #54 "Discuss Support for "Optional" Server Items"
Upstream supports:

* Elasticsearch
* Couchbase FTS
* Websocket support with Spring-Websocket
* Kafka
* OpenAPI/Swagger Code Generation

[2020-05-14 19:55] JasonTypesCodes opened #55 "Generated Project still contains Node/NPM build integration when "No Client" is selected"
[code]

[2020-05-14 20:09] JasonTypesCodes opened #56 "Discuss Support for Additional Testing Frameworks"
The SB side currently supports:

* Gatling
* Cucumber

[2020-05-14 20:11] mraible commented on #56
I don't think you'll have to do anything to support Gatling - as long as your endpoints match the URLs that we use for Spring Boot.

[2020-05-14 20:16] JasonTypesCodes commented on #56
I'll give it a go and see what happens :grimacing:

[2020-05-14 21:04] JasonTypesCodes commented on #56
Not quite there, but we're likely close.  At the moment, the Gatling tests are expecting an `XSRF-TOKEN` cookie that we don't seem to be setting.

[2020-05-14 23:01] JasonTypesCodes commented on #1
The project currently supports:
* Monolith projects
* JWT or OAuth 2.0 Authentication
* SQL Database Support
  * MySQL
  * PostgreSQL
  * H2
* Ehcache
* Maven or Gradle Build System
* Angular or React Client
* Protractor Tests

I've created Issues for a few others:
* Microservices (#43)
* MariaDB (#44)
* Caffeine (#46)
* Hazelcast (#47)
* Redis (#48)
* Infinispan (#50)
* MongoDB (#49)

I also crea

[2020-05-14 23:07] #15 closed

[2020-05-15 14:33] #55 closed

[2020-05-15 20:26] #1 closed

[2020-05-15 20:26] #39 closed

[2020-05-15 20:26] #40 closed

[2020-05-15 20:26] #42 closed

[2020-05-15 20:27] #51 closed

[2020-05-15 20:27] #21 closed

[2020-05-15 22:30] JasonTypesCodes opened #62 "Publish Preview Release to NPM"
* [x] Add appropriate "Preview" wording to documentation
* [x] Get publish rights to `generator-jhipster-micronaut`
* [x] Update to JHipster 6.8 (#53)
* [x] Update to JHipster 6.9 (#64)
* [x] Clean up Java dependencies (#23)
* [x] Update generated README (#41)

[2020-05-15 22:36] JasonTypesCodes commented on #62
I've started on the update to 6.8.  There were some changes in webpack that I need to clean up but I don't think it will take me much more effort.  The email stuff can wait but I'd really like to get it in.

[2020-05-15 22:37] JasonTypesCodes commented on #62
@sendilkumarn Would you be willing to grant me publish rights to https://www.npmjs.com/package/generator-jhipster-micronaut ?

[2020-05-16 12:29] sendilkumarn commented on #62
cool let me give it

[2020-05-16 12:31] sendilkumarn commented on #62
Sent u access, let me know if it works.

[2020-05-18 13:34] ZacharyKlein opened #63 "Support Consul"
This should be a simple add as Micronaut's Service Discovery client is very easy to configure against Consul. Just need to add the appropriate config when the feature is selected.

[2020-05-19 03:42] JasonTypesCodes opened #64 "Upgrade JHipster to 6.9.0"

[2020-05-19 03:43] JasonTypesCodes commented on #53
I spent a few hours thinking I had broken Angular in FF.  Then I found https://github.com/jhipster/generator-jhipster/issues/11566

We'll inherit the fix for this by updating to 6.9.0 (#64)

[2020-05-19 03:49] #53 closed

[2020-05-19 18:26] JasonTypesCodes opened #66 "Java tests fail when selecting OAuth2"
If entities have been generated, the EntityResourceIT tests fail to compile due to there not being a `TestSecurityConfiguration` class generated.

Otherwise, `JWTFilterTest.testJWTFilter` fails.

[2020-05-19 20:36] JasonTypesCodes commented on #64
Angular applications are failing when multiple entities are added due to: https://github.com/jhipster/generator-jhipster/issues/11824

[2020-05-19 21:03] mraible commented on #66
To provide some history, I found that I had to create a `TestSecurityConfiguration` to mock out the authorization server. You can read more about it [in this blog post](https://developer.okta.com/blog/2019/04/15/testing-spring-security-oauth-with-junit#how-to-handle-oidc-discovery-in-spring-boot-integration-tests).

[2020-05-20 04:19] #64 closed

[2020-05-21 14:49] ladybug opened #68 "internationalization admin/user logins don't work"
I installed with French as my language of choice.  Login using either the admin or user logins, you are not authorized.  Basically you cannot log into your application.

[2020-05-21 18:41] #41 closed

[2020-05-22 13:16] #23 closed

[2020-05-22 15:24] JasonTypesCodes opened #71 "Support Reactive Applications"

[2020-05-22 20:29] #66 closed

[2020-05-22 21:42] JasonTypesCodes opened #73 "Dev Database Is Always H2 In-Memory"
Dev database is always set to h2mem, but the H2 jar will be excluded if the dev database has been configured as MySQL or Postgres

[2020-05-22 22:46] #73 closed

[2020-05-25 03:15] #62 closed

[2020-05-25 03:24] JasonTypesCodes commented on #20
I've been through much of the configuration here and I feel like this can be closed.  If we encounter other instances, we can address those as we find them.

[2020-05-25 03:24] #20 closed

[2020-06-01 15:42] JasonTypesCodes opened #78 "Support Okta as OIDC"
See: https://github.com/jhipster/generator-jhipster/pull/11715

[2020-06-01 18:33] atomfrede commented on #78
We need at least to overwrite application.properties with a dedicated heroku properties and change the issuer, clientsecret. And it looks like the redirect uris are different from the nes we have on the boot backend. If we could align them we can reuse the script, but adapting the script should also be no problem.

https://github.com/jhipster/generator-jhipster-micronaut/blob/master/generators/ser

[2020-06-02 12:03] JasonTypesCodes opened #79 "Unable to create new entities that have a relationship with `User`"
##### **Overview of the issue**

When an entity has a relationship with User, creating a new entity through the UI fails:

[code]
##### **Project configuration**
[code]

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-06-04 03:26] #52 closed

[2020-06-07 08:47] erikcvisser commented on #79
@JasonTypesCodes I had encountered the same issue, and was able to resolve it by changing the dropdown in the entity-update to the following. Hope this works for you as well.

`
<AvInput id="character-user" type="select" className="form-control" name="user.id">
  <option value="" key="0" />
    {users
       ? users.map((otherEntity) => (
            <option value={otherEntity.id} key={otherEntity

[2020-06-08 05:00] atomfrede opened #82 "Support Heroku deployment"
##### **Overview of the feature request**

I realized some configuration is spring specific (e.g. the build task for heroku), such that the build/deployment fails.

##### **Motivation for or Use Case**

One should be able to use `mhipster heroku` to deploy an application to Heroku with ease.

##### **Related issues or PR**

* https://github.com/jhipster/generator-jhipster-micronaut/issues/78

As I

[2020-06-08 19:13] atomfrede commented on #82
@JasonTypesCodes Just to make sure, is the gradle build supported to work? It seems it doesn't generate a valid executable jar file.

[2020-06-08 19:21] JasonTypesCodes commented on #82
@atomfrede You know, I noticed that when I was adding workflows to the project and forgot to add an issue for it.  I'll add one now.

[2020-06-08 19:24] JasonTypesCodes opened #83 "Gradle build does not produce executable jars"
##### **Overview of the issue**

Gradle build does not produce executable jars.  In the workflow scripts, gradle builds are currently creating distribution zip files that are used to run the docker images.

See: #82

[2020-06-08 19:25] JasonTypesCodes commented on #82
@atomfrede I'm curious why you labelled this issue as a bug?

[2020-06-08 19:30] atomfrede commented on #82
Good question, at first I thought it was "bug" like some missing configuration, but there are a lot of more things to do also in the main generator. But good news, maven deploy works just fine with my current changes!

[2020-06-08 21:18] atomfrede opened #86 "Dev profile/environment can't be overwritten"
##### **Overview of the issue**

It seems not to be possible to overwrite the dev profile/environment via system property.

##### **Reproduce the error**

Create a default jhipster micronaut app and do

[code]

I would expect to be only `prod` enabled.

##### **Suggest a Fix**

In the app's main method there is

[code]

So while the environment variable is used the system property is ignored, such

[2020-06-09 20:59] atomfrede commented on #78
I will handle this together with https://github.com/jhipster/generator-jhipster-micronaut/pull/85

[2020-06-09 22:29] #83 closed

[2020-06-09 22:58] JasonTypesCodes opened #89 "Update to Micronaut 2"
##### **Overview of the feature request**

Once the Micronaut 2 RC1 release occurs, we should update the template to generate Micronaut 2 projects.

##### **Motivation for or Use Case**

Micronaut 2 rules!!

[2020-06-10 07:11] atomfrede commented on #24
I can't reproduce it with the current sample app:

[code]

[2020-06-11 11:49] atomfrede commented on #78
I have an apllication deployed via heroku and setup all in the heroku add on. The micronaut app send the redirect url as `http` instead of `https` (the skript configures `https`).

@JasonTypesCodes do you know it that can be changed?

[2020-06-11 13:51] JasonTypesCodes commented on #78
Which redirect url are you referring to?  The one provided to the OIDC?

[2020-06-11 17:18] #46 closed

[2020-06-11 19:44] JasonTypesCodes commented on #79
There is quite a bit going on here.  It seems the server implementation was working with OAuth but was still leaning on non-oauth implementation of the User entity.  I'm going to clean this up first and when I'm done I'll see if this is still an issue.

[2020-06-11 22:09] atomfrede commented on #78
Yes, the one provided to the OIDC, when clicking login. `https://....okta.com/oauth2/default/v1/authorize?scope=openid+email+profile&response_type=code&redirect_uri=http%3A%2F%2Fmhipster-5.herokuapp.com%2Foauth2%2Fcallback%2Foidc&state=....

@mraible Not sure, but at least right now checking the `AccessToken` instead the `IdToken` [here](https://github.com/jhipster/generator-jhipster-micronaut/blo

[2020-06-11 22:38] atomfrede opened #94 "cleanup user service when using oauth"
##### **Overview of the issue**

When selecting oauth option the `UserService` contains all methods (e.g. password reset etc.) which are not required. We should not generate them (like we do in main generator).

##### **Reproduce the error**

Generate an application with this blueprin.

##### **Related issues**

None

##### **Suggest a Fix**

Align with the template in main generator code

-   [x]

[2020-06-12 18:03] JasonTypesCodes commented on #94
I'm currently working through this as a part of #79

[2020-06-12 21:35] JasonTypesCodes commented on #78
@atomfrede I presume you are in a situation where there is something between the Micronaut server and the consumer and Micronaut is running in HTTP but the end user to connecting through something else using HTTPS.

One option is to run Micronaut with `micronaut.ssl.enabled` set to `true`

Another option is to add your own `HttpHostResolver` implementation.  Something like this should work:
[code]

[2020-06-13 09:21] atomfrede commented on #78
Thanks will give it a try. Hopefully setting the property is enough

[2020-06-13 12:43] atomfrede commented on #78
The custom host resolver works fine. Another question, which is not clear to me from the documentation. For spring boot we active e.g. `heroku,prod` profiles/environments. The datasource propoerties from heroku have precedence. When activating prod and heroku the properties from prod configuration are taken. I could overwrite them via system properties, but thats more complicated from the generato

[2020-06-13 19:53] agilob opened #95 "Generation of models with Enums fails"
##### **Overview of the issue**

If any model contains an enum, the generation of java classes will fail:

[code]

##### **Reproduce the error**

jdl file:

[code]

Command:
`mhipster import-jdl model.jdl --force`

[2020-06-13 20:11] agilob opened #96 "Service for model is generated with spring annotations"
##### **Overview of the issue**

Imports not found:

![image](https://user-images.githubusercontent.com/2544251/84578147-74018380-adba-11ea-97e8-5d78b16bf39e.png)

[2020-06-13 20:20] agilob commented on #96
I converted a spring-boot project into micronaut project, but before generating sources I did:

`$ rm src -fr` so everything generated by project config is gone
`$ mhipster`  so it generates the scaffolding of mhipster app, where `UserService` is annotated with `@Singleton
@Transactional`, that's correct!
and then regenerated the models:
`$ mhipster import-jdl model.jdl --force` so model is re-gen

[2020-06-13 20:26] agilob commented on #96
Ah right, seems like it some kind of caching intellij error -.-' this file doesnt exist on hard drive but intellij is still trying to compile it.

There is file `TopicRepository` that is annotated with `@Repository` and works. Sorry about this.

[2020-06-13 20:45] agilob commented on #96
I actually can reproduce it on a new project with existing .jdl file, can anyone please explain or look at this please?

[2020-06-13 20:50] agilob opened #97 "eagerload is not defined on some Resource classes"
##### **Overview of the issue**

eagerload is not defined on `XResource` methods:

[code]

Correcting method definition to contains parameter `@Nullable Boolean eagerload` fixes this error.

[code]
##### **Reproduce the error**
I simply generated a new project and it throws this error when I do `./mvnw`

[2020-06-13 21:11] agilob commented on #97
When changed to  primitive type ` @Nullable boolean eagerload` it causes backend to crash and frontend to throw error when list of X-model is visited.

[2020-06-14 09:09] agilob opened #98 "Missing , in resource when model is generated with DTO"
![image](https://user-images.githubusercontent.com/2544251/84589515-de500d80-ae26-11ea-884c-95389b1c1efc.png)

[code]

[2020-06-14 09:43] agilob commented on #97
Only some resources (member, user, message resource) are affected by this bug, I have over 20 generated but these 3 failed

[code]
This happens when .jdl has

[code]

My classes eg. Room have correct method definition.

[2020-06-14 09:44] agilob commented on #96
This happens when jdl is
[code]

jdl defines models:

[code]

Pagination is NOT GENERATED when `dto * with mapstruct` is not defined.

[2020-06-14 10:02] agilob opened #99 "Missing dependency for pagination"
##### **Overview of the issue**

Imports cannot be found for models with pagination

##### **Reproduce the error**
Generate resource with pagination

[2020-06-15 13:16] agilob opened #103 "Validation on DTO should be using @Introspected on a model class not @Valid in Resource class"
##### **Overview of the issue**

https://github.com/micronaut-projects/micronaut-core/issues/2303

Micronaut uses `@Introspected` in place of `@Valid` for validation, existing resource integrations tests (with DTOs) are failing:
[code]
as validation isn't triggered in `mvn verify`

##### **Reproduce the error**

Generate project with model that has validators, eg. `required` field.

##### **Sugges

[2020-06-15 13:19] agilob opened #104 "ResouceIT uses incorrect objects in client.exchange when DTO objects are used"
![image](https://user-images.githubusercontent.com/2544251/84662019-1d5b8d00-af13-11ea-8c38-3e399c15cbeb.png)

dtoObjects aren't used

[2020-06-15 13:20] agilob opened #105 "Mapper beans aren't autowired in ResourceIT tests"
but are called in tests

[2020-06-15 18:43] JasonTypesCodes commented on #78
The order that the environments are specified should determine which property is loaded.  See: https://docs.micronaut.io/latest/guide/index.html#_environment_priority

[2020-06-15 20:26] atomfrede commented on #78
Thanks @JasonTypesCodes seems to works. I think I provide a small improvement to the docs to make that easier to spot.

[2020-06-15 20:40] #99 closed

[2020-06-15 21:26] atomfrede commented on #94
If I can help here let me know. In order to support okta we also need to have a function to sync the idp user with the [local user database](https://github.com/jhipster/generator-jhipster/blob/1a8536bef267b7dec18fe4b8051b59f25cad5575/generators/server/templates/src/main/java/package/service/UserService.java.ejs#L857). Basically thats why login via okta on heroku does not work yet.

[2020-06-15 22:32] #96 closed

[2020-06-16 01:54] JasonTypesCodes commented on #94
Thanks!  I think I'm close.  Let me try to wrap it tonight and if I don't
make it I'll push up what I have and let you know where I'm at

On Mon, Jun 15, 2020, 16:26 Frederik Hahne <notifications@github.com> wrote:

[2020-06-16 04:47] JasonTypesCodes commented on #94
@atomfrede I *thought* I was close, but I wasn't thinking about the generated tests.  I think once the generated tests are working on https://github.com/jhipster/generator-jhipster-micronaut/tree/issue-79-entity-related-user we will be in a good place.  If you'd like to take a look at that, please feel free.  Otherwise, I'll try to tackle it tomorrow.

[2020-06-18 16:23] #94 closed

[2020-06-18 16:25] JasonTypesCodes commented on #94
@atomfrede I went ahead and did a merge of this portion to unblock you.  I'll resume #79 from here.  There were a lot of moving parts here.  Please let me know if you see something I missed

[2020-06-18 19:15] atomfrede commented on #94
Going to test it. I have the micronaut 2 migration ready. Tested locally jwt + oauth. Need to check why the builds are still failing

[2020-06-18 22:17] #79 closed

[2020-06-19 22:21] atomfrede commented on #78
@JasonTypesCodes Do you have started already to add the user sync with the idp? My first try does it in the user details mapper and works fine.

[2020-06-22 14:53] JasonTypesCodes commented on #78
@atomfrede All of my recent work is merged now.  I did not add anything to sync user information with the idp.

[2020-06-22 14:55] JasonTypesCodes opened #111 "React / Angular Apps should always include the Micronaut Hipster image"

[2020-06-22 15:01] atomfrede commented on #78
I provide a small proposal to sync the users such that it would work with users created in keycloak/okta only.

[2020-06-22 15:16] atomfrede commented on #111
Fun fact, I have a branch with that feature ready. Just some fine tuning :)

[2020-06-23 02:52] #111 closed

[2020-06-23 08:20] atomfrede opened #113 "Use the micronaut gradle plugin"
##### **Overview of the feature request**

To have minimal custom code and use best practices from latest micronaut development we should try to use the official gradle plugin. See https://github.com/micronaut-projects/micronaut-gradle-plugin

##### **Motivation for or Use Case**

Less jhipster specific code more standard micronaut code.

##### **Related issues or PR**

* https://github.com/jhipst

[2020-06-23 14:48] atomfrede opened #114 "MYSQL is generated in prod properties even if psql is selected"
##### **Overview of the issue**

When using postgresql the jpa configuration contain `MySQL5InnoDBDialect` which seems not correct.

See https://github.com/jhipster/generator-jhipster-micronaut/blob/559ece312f4e10a7e8933f9f42ed98019e194da4/generators/server/templates/src/main/resources/application-prod.yml.ejs#L67

##### **Reproduce the error**

Generate an application and choose postgres as datab

[2020-06-28 08:33] #89 closed

[2020-07-08 01:40] nikoma opened #115 "Graalvm native image"
It would be great if you could create a GraalVM native image or native config with the generator. (perhaps a flag like --native)
GraalVM native images are an incredible low memory footprint and a sub-second startup time. Perfect for Docker as well as serverless functions.
I read an article about jHipster with quarkus and GraalVM native. It would be great if we could do the same with micronaut.

[2020-07-14 06:16] #45 closed

[2020-07-14 06:16] #78 closed

[2020-07-14 06:16] #82 closed

[2020-07-14 06:19] atomfrede opened #116 "Builds are flaky"
##### **Overview of the issue**

During development of https://github.com/jhipster/generator-jhipster-micronaut/pull/85 I often wondered why the CI build was failing as they worked locally. After restarting the build often some other configuration, which was green before failed.

##### **Reproduce the error**

Make a minimal PR which will not have an impact on the generated code and see how ci goe

[2020-07-16 19:23] #98 closed

[2020-07-17 14:23] atomfrede opened #118 "Support memcache"
##### **Overview of the feature request**

To support the same caching solutions as with our spring boot backend we should provide a similar level of support for memcache

##### **Motivation for or Use Case**

Be consistent

##### **Related issues or PR**

* https://github.com/jhipster/generator-jhipster-micronaut/issues/48

[2020-07-17 21:37] atomfrede commented on #103
I was able to reproduce it. The small PR should fix it.

[2020-07-17 21:46] atomfrede commented on #48
I have a working prototype. Will provide a PR during the weekend.

[2020-07-19 03:12] #103 closed

[2020-07-19 20:01] JasonTypesCodes opened #122 "Integration Tests Periodically fail due to "Recursive Update""
##### **Overview of the issue**

The integration tests are periodically failing due to the following:

[code]

##### **Reproduce the error**

https://github.com/jhipster/generator-jhipster-micronaut/runs/886184785?check_suite_focus=true

##### **Project configuration**

All of the sample projects seem to periodically have this issue

-   [x] Checking this box is mandatory (this is just to show you

[2020-07-19 21:29] JasonTypesCodes commented on #122
Example project (with client removed for faster builds: https://github.com/JasonTypesCodes/mhipster-recursive-update

[2020-07-19 21:31] JasonTypesCodes commented on #116
@atomfrede is this the error(s) you are seeing: https://github.com/jhipster/generator-jhipster-micronaut/issues/122 ?

If so, my apologies for duplicating this issue, but it may be better to stick with the one I created as it has stacktrace information in it.  If this one is different we should keep both.

[2020-07-19 21:41] atomfrede commented on #116
Yes exactly. Let's close this one.

[2020-07-19 21:41] #116 closed

[2020-07-21 10:25] atomfrede opened #124 "Add security headers"
##### **Overview of the feature request**

For the boot backend we set a bunch of headers (via spring security) to improve security (e.g. x-frame options). Currently we do not that here. We score F instead of A as we do for the boot backend. I guess the best way is to implement a custom filter (like the CorsFilter) and set the headers accordingly.

##### **Motivation for or Use Case**

**Spring Bo

[2020-07-21 11:25] atomfrede commented on #124
I guess the `OncePerRequestFilter` would be the way to go. Something like this?

[code]

[2020-07-22 15:40] oopsaleem opened #126 "Production: Deployment to Heroku failed"
##### **Deployment to Heroku failed**
`       [INFO] Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/commons/commons-lang3/3.5/commons-lang3-3.5.jar (480 kB at 3.9 MB/s)
       [WARNING] Rule 1: org.apache.maven.plugins.enforcer.RequireJavaVersion failed with message:
       You are running an incompatible version of Java. JHipster supports JDK 8 to 12.
       [INFO] -----

[2020-07-22 15:52] atomfrede commented on #126
Which version are you using? How do you call the heroku command? I did it yesterday multiple times.

[2020-07-22 16:11] oopsaleem commented on #126
Jhipster v 6.10.1
Created the app using the command:
`jhipster --blueprints micronaut`
Deployment command:
`jhipster heroku`

[2020-07-22 16:20] atomfrede commented on #126
Can you try mhipster heroku please?

[2020-07-22 17:51] oopsaleem commented on #126
I tried using the `mhipster heroku` dosn't work.
Even created new project from scratch using `mhipster` but got system crashed.

`2020-07-22T17:42:04.395686+00:00 heroku[web.1]: State changed from starting to crashed
2020-07-22T17:42:04.397759+00:00 heroku[web.1]: State changed from crashed to starting
2020-07-22T17:42:10.523144+00:00 heroku[web.1]: Starting process with command `java $JAVA_OPTS -

[2020-07-22 18:36] atomfrede commented on #126
I will try to reproduce it. So you have some more logs why it crashed?

[2020-07-22 19:17] oopsaleem commented on #126
-----> Java app detected
-----> Installing JDK 14... done
-----> Executing Maven
       $ ./mvnw -Pprod,heroku -DskipTests clean dependency:list install
       [INFO] Scanning for projects...
       [WARNING]
       [WARNING] Some problems were encountered while building the effective model for com.gelowb:revertback:jar:0.0.1-SNAPSHOT
       [WARNING] 'build.plugins.plugin.version' for org.apache.

[2020-07-22 19:23] oopsaleem commented on #126
2020-07-22T18:09:20.636926+00:00 app[web.1]: no main manifest attribute, in target/original-revertback-0.0.1-SNAPSHOT.jar
2020-07-22T18:09:20.698015+00:00 heroku[web.1]: Process exited with status 1
2020-07-22T18:09:20.743819+00:00 heroku[web.1]: State changed from starting to crashed
2020-07-22T19:17:28.538138+00:00 heroku[web.1]: State changed from crashed to starting
2020-07-22T19:17:36.079683+

[2020-07-23 07:01] atomfrede commented on #126
I see its `Installing JDK 14... done`. Did you select it? Maybe the micronaut check does not yet take jdk >12 into account.

[2020-07-23 07:05] atomfrede commented on #126
Yes, I see. In the main generator we have

[code]

in micronaut only

[code]
And the heroku sub gen does not overwrite the jdk selection. I guess micronaut supports jdk 14 too, so I would suggest  to adapt the pom accordingly. @oopsaleem Can you try changing the pom with `[1.8,15)`?

[2020-07-23 07:16] atomfrede commented on #126
I will open a new issue for that.

[2020-07-23 07:21] atomfrede opened #127 "Support JDK 14"
##### **Overview of the feature request**

Right now both gradle and maven build files still enforce an upper bound for JDK 13. In the main generator we have already switched to JDK 14.

* https://github.com/jhipster/generator-jhipster-micronaut/blob/736f1b4b2a03126a1f3d4e1241c367432dc5ccaa/generators/server/templates/build.gradle.ejs#L62
* https://github.com/jhipster/generator-jhipster-micronaut/

[2020-07-23 07:23] oopsaleem commented on #126
HI @atomfrede , No I didn't select it. But even though i have another attempt to changing the system.properties & .yo-rc.json to use java 11. but in vain.

[2020-07-23 07:25] atomfrede commented on #126
That is strange. The default for the heroku java version should still be 11.

[2020-07-23 07:56] oopsaleem commented on #126
I changed the `<requireJavaVersion>` and gave it a go, yet issue persist.
![image](https://user-images.githubusercontent.com/3925543/88263586-ef682600-ccd2-11ea-8848-453f1875d02d.png)

[2020-07-23 07:59] atomfrede commented on #126
But it now builds, so the build failure is gone. Can you provide an example application?

[2020-07-23 08:09] oopsaleem commented on #126
Actually, build failure was gone when i used `mhipster` instead of `jhipster`

below is the `heroku logs --tail`
[heroku-logs-tail.txt](https://github.com/jhipster/generator-jhipster-micronaut/files/4964555/heroku-logs-tail.txt)

you can find the example app [here](https://github.com/oopsaleem/revertback)

[2020-07-23 08:33] atomfrede commented on #126
Thanks.

[2020-07-23 11:20] atomfrede commented on #126
I think I can see the issue, but I have no idea why its happening. ` no main manifest attribute, in target/original-revertback-0.0.1-SNAPSHOT.jar`. Need to check when back on my machine. It is not suppose to select the `original-` jar I think

[2020-07-23 11:35] atomfrede commented on #126
:facepalm: I think we have the same problem with the main generator as soon as the application name comes after `o`. I usually test with something link `jhxy` or `mhipsterxy` which are both before `o`. Will provide a fix such that is uses the application name in the procfile if possible.

[2020-07-24 09:15] #127 closed

[2020-07-24 09:15] #126 closed

[2020-07-24 09:15] #124 closed

[2020-07-24 09:16] #105 closed

[2020-07-24 13:44] agilob opened #130 "Can't sort by ManyToOne / OneToMany property"
When a class has ManyToOne or ManyToOne property and is generated with a DTO it can't be sorted by the mapped property

translation-not-found[Internal Server Error: Unable to locate Attribute  with the the given name [roomId] on this ManagedType [Session]]

Field name in DTO is roomId, but in the entity it's room.

[2020-07-24 14:07] atomfrede commented on #130
Do you have a server log?

[2020-07-28 13:31] agilob commented on #130
With jdl as

[code]

[code]

[2020-07-28 13:35] agilob opened #131 "bug/help Profile prod doesn't run migrations"
I deployed a project using the generated app.yml (had to put postgres.yml inside the file due to old docker-compose on server which doesn't recognise external/imported services), application connected to the database, but no migrations were run, no tables were created. It works all fine on dev when I run in h2 database, but when deployed in docker  using prod it doesn't start liquibase migrations.

[2020-07-28 13:44] atomfrede commented on #131
So you start the docker image not the jar directly? I usually don't start it via app.yml/docker so I need to check.

[2020-07-28 13:52] atomfrede commented on #131
It looks like the environment variable in the `app.yml` is not correct. At least it doesn't fit the schema in the properties.

[code]

VS just `JDBC_URL` in the `app.yml`
can you try `DATASOURCES_DEFAULT_URL=jdbc:postgresql://XYZ-postgresql:5432/XYZ` in the `app.yml`?

[2020-07-28 13:54] agilob commented on #131
I run `/mvnw -Pprod verify jib:build` which builds the docker image and uploads it to my private repo. Then pull it from the repo and start using docker-compose. I think JDBC_URL in docker-compose also isn't correct, but for this project I configured db access from application-prod.yml.

Will give it a try now.

[2020-07-28 13:59] agilob commented on #131
No, still doesnt run migrations
[code]

[2020-07-28 14:03] atomfrede commented on #131
In that case I have no idea right now. Need to investigate further.

[2020-07-28 14:33] agilob commented on #131
After 3 minutes liquibase kicked in
[code]

[2020-07-28 14:54] agilob commented on #131
Ok. `DELETE FROM DATABASECHANGELOGLOCK` fixed it, strange, I don't remember it failing any start or migration. First time I started the service it didnt work.

[2020-07-28 14:54] #131 closed

[2020-07-28 23:29] JasonTypesCodes commented on #122
Micronaut 2.0.1 should be releasing soon and should address this

[2020-07-29 11:11] agilob opened #132 "Generated link to User produces code that doesn't compile"
[code]

Will produce code that has setters on blog which uses `user.setBlog(this)` but user class doesn't have this setter and link in liquibase

[2020-07-29 11:11] agilob commented on #132
Noting that ManyToMany works fine.

[2020-07-29 23:25] #122 closed

[2020-08-04 02:25] #48 closed

[2020-08-04 04:20] atomfrede commented on #132
I think this is not supported. See https://www.jhipster.tech/managing-relationships/

Only `many-to-one` to the user and `many-to-many` or `one-to-one` where the other entity is the owner are allowed. Not sure if we prevent this in the main generator/jdl level. But for now I will close this as the scenario you describe is not supported. If you want something similar you can create a new intermedia

[2020-08-04 04:20] #132 closed

[2020-08-05 03:03] JasonTypesCodes commented on #97
I believe the `eagerload` was being added to the URI in error.  It appears that the only time `eagerload` should come into play is if the field contains the owner of a many to many

[2020-08-05 05:48] JasonTypesCodes opened #135 "ImageBlob fails to be retrieved from PostgreSQL database"
##### **Overview of the issue**

While working #134 I tried to change the devDatabaseType to postgresql for the mvn-oauth-angular sample and the E2E tests failed.

Exception is:
[code]

##### **Reproduce the error**

See: https://github.com/jhipster/generator-jhipster-micronaut/pull/134/commits/24191263b63e9d1404de99ab3ae73ed1f869e2e6

The exception is visible when trying to load the SpaceEvent en

[2020-08-05 07:02] #95 closed

[2020-08-05 07:02] #97 closed

[2020-08-06 22:34] JasonTypesCodes opened #137 "Applications built with docker-compose fail to connect to the database"
##### **Overview of the issue**

Create an app with Postgresql as the production database and try to start it with:

`docker-compose -f src/main/docker/app.yml up`

You receive:

[code]

It should not be trying to connect to `localhost`

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-08-07 05:28] JasonTypesCodes opened #139 "Maven Builds do not declare a version for the Checkstyle plugin"
##### **Overview of the issue**

Maven Builds do not declare a version for the Checkstyle plugin

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-08-07 05:33] JasonTypesCodes opened #140 "Prod Profile does not have a default JWT Generator Secret in Place"
##### **Overview of the issue**

Prod Profile does not have a default JWT Generator Secret in Place

The base generator re-uses the jwtSecretKey for this purpose:
https://github.com/jhipster/generator-jhipster/blob/09e3f8d9e4e719bc5715dd86b2534746491faf37/generators/server/templates/src/main/resources/config/application-prod.yml.ejs#L327

-   [x] Checking this box is mandatory (this is just to sho

[2020-08-07 07:01] atomfrede opened #142 "Heroku subgen logs warning which is incorrect"
##### **Overview of the issue**

When trying to add the okta provisioning script to `.gitignore` the heroku subgen logs a warning it was not possible. This is wrong. The warning is logged in any case https://github.com/jhipster/generator-jhipster-micronaut/blob/123e85393c9dd774fc35dc610b82e3bd86a4bd70/generators/heroku/index.js#L132

##### **Reproduce the error**

Create an application with oauth

[2020-08-07 07:15] #137 closed

[2020-08-07 07:15] #139 closed

[2020-08-07 07:15] #140 closed

[2020-08-07 12:07] #114 closed

[2020-08-07 12:07] #135 closed

[2020-08-07 14:36] mraible opened #144 "401 for GET http://localhost:8080/manifest.webapp"
##### **Overview of the issue**

When creating a new app with Micronaut and Angular, there's a 401 for http://localhost:8080/manifest.webapp after logging in.

##### **Reproduce the error**

Create an app with the following JDL, start Keycloak, and log in. You'll see the error in your browser's console.

[code]

##### **Related issues**

##### **Suggest a Fix**

I'm guessing some security rules ne

[2020-08-07 14:50] mraible opened #145 "H2 database created in target/target/h2db"
##### **Overview of the issue**

It seems like the H2 database should be created in target/h2db. Instead, it's created in target/target/h2db.

##### **Reproduce the error**

Create a new app with the default development database. Run it and you'll see that H2 is created in target/target/h2db.

##### **Related issues**

##### **Suggest a Fix**

Fix the path so there's not duplicate target directori

[2020-08-07 15:08] mraible opened #146 "Error with Feature-Policy header: Unrecognized feature: 'speaker'."
##### **Overview of the issue**

Create an app and deploy it to Heroku. You'll get an error in your browser console when it loads.

[code]

This does not happen in development.

##### **Reproduce the error**

Create an app and deploy it to Heroku.

[2020-08-07 15:11] mraible opened #147 "Health Checks screen is missing translations"
##### **Overview of the issue**

translation-not-found[health.indicator.compositeDiscoveryClient()]
translation-not-found[health.indicator.jdbc]

<img width="1272" alt="Screen Shot 2020-08-07 at 9 09 05 AM" src="https://user-images.githubusercontent.com/17892/89659946-dc865180-d88d-11ea-8eef-f1931b2d2662.png">

##### **Reproduce the error**

Create an app and navigate to Administration > Health Ch

[2020-08-07 15:13] mraible opened #148 "Navigating to entities in production results in Access Denied page"
##### **Overview of the issue**

When an app is deployed to production on Heroku, you're unable to navigate to entity screens.

##### **Reproduce the error**

Create an app with entities, deploy it to Heroku, and try to navigate to the entity screens. You'll get an access denied error.

<img width="1270" alt="Screen Shot 2020-08-07 at 9 11 54 AM" src="https://user-images.githubusercontent.com/1789

[2020-08-08 22:03] #144 closed

[2020-08-08 23:46] #145 closed

[2020-08-09 10:26] atomfrede commented on #146
I will take a look. Very strange as we have the same csp as in the main generator.

[2020-08-09 10:29] atomfrede commented on #148
Can you reproduce it without heroku just running normal prod profile?

[2020-08-09 15:10] mraible commented on #148
I've seen this happen before when there's not `groups` claim in the ID token from Okta.

[2020-08-09 16:40] #146 closed

[2020-08-09 17:35] #142 closed

[2020-08-09 17:35] atomfrede commented on #148
I will have a look. Most likely tomorrow.

[2020-08-09 18:01] mraible commented on #148
I looked at my Okta org and the “groups” claim appears to be correct. I think the problem is that the user is not in the ROLE_USER group. I think that’s necessary, they can’t just be in ROLE_ADMIN group. I tried to confirm this, but when I try to log in to https://micronaut-space.herokuapp.com/, I get the following error:

[code]

The logs on Heroku have the following stack trace:

[code]

[2020-08-10 03:09] JasonTypesCodes commented on #147
This is a bit bigger than I first assumed.  Basically what is happening is Micronaut is sending back Health indicators that have different keys than their SB counterparts and the key is what is used to look up the translation.  I think what I'm going to do is map those keys to the expected ones in the client rather than move all of the i18n stuff into our blueprint just for a few keys.

[2020-08-10 04:30] atomfrede commented on #147
Fully agree. With the upcoming 7.x and the jhipster control center the admin screens will be gone from the generated client, so we should not invest much time anymore.

[2020-08-10 05:23] atomfrede commented on #148
@mraible Thanks for the hint. Adding the user to both ROLE_ADMIN and ROLE_USER did the trick.

[2020-08-10 05:47] #148 closed

[2020-08-10 06:10] #147 closed

[2020-08-11 19:44] mraible opened #158 "Building with Docker results in running a dev and prod build for the frontend"
##### **Overview of the issue**

When running this command:

[code]

The frontend builds for both dev and prod profiles.

[code]

##### **Reproduce the error**

Create a new app and build a Docker image for it.

##### **Suggest a Fix**

Only build for prod since `-Pprod` is passed in.

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root

[2020-08-12 10:59] atomfrede commented on #158
Can it be that the webpack build in dev mode comes from `run webpack:test` which is done in prod profile? Not tried it yet though

[2020-08-12 12:52] atomfrede commented on #158
@mraible Can you try leaving out `package` and setting the activation? At least it just executed the whole build once.

[2020-08-12 17:53] mraible commented on #158
@atomfrede Leaving out package does seem to solve the problem. We should document this since it's different from the regular generator. Or maybe we don't need to specify `package` for the main generator?

[2020-08-12 17:57] mraible commented on #158
Nevermind, I tried again and it still happens.

[code]

[2020-08-12 19:17] atomfrede commented on #158
Did you change the activation part? I will check and provide a PR as webpack(dev) will be active even when doing `-Pprod` on a clean project as the develop app bundle is not there yet.

[2020-08-12 19:25] mraible commented on #158
I did not change anything in `pom.xml`, I just tried running it without `package`. You can try cloning my project if you want to try it there.

[code]

[2020-08-12 19:37] atomfrede commented on #158
With the activation not checking the development bundle I have

[code]

See https://github.com/jhipster/generator-jhipster-micronaut/pull/159

[2020-08-12 20:50] #158 closed

[2020-08-13 03:48] JasonTypesCodes opened #160 "Re-generating a project with no changes removes entity cache and inclusion in liquibase master"
##### **Overview of the issue**

If you generate a project and then generate it again with no changes, it alters `CacheConfiguration.java` and `liquibase/master.xml`

##### **Reproduce the error**

+ `mhipster import-jdl test.jdl`
+ `git status`
+ `mhipster`
+ Tell it to force all overwrites
+ `git status`
+ `git diff`

[code]

##### **Project configuration**

[code]

##### **Browsers and Operatin

[2020-08-13 03:54] JasonTypesCodes opened #161 "Exported JDL cannot be imported"
##### **Overview of the issue**

When you export the JDL from a generated project and then try to import it in a new folder, it fails

##### **Reproduce the error**

+ Generate a new project
+ `mhipster export-jdl test.jdl`
+ `cd ../other-project`
+ `cp ../first-project/test.jdl ./`
+ `mhipster import-jdl test.jdl`

[code]

##### **Suggest a Fix**

Removing `otherModules [[object Object]]` from th

[2020-08-13 04:15] JasonTypesCodes commented on #104
JDL:
[code]

[2020-08-13 08:33] atomfrede commented on #160
Not sure but I think you need to `mhipster --with-entities` to regenerate with all entities if I am not mistaken.

[2020-08-13 08:35] atomfrede commented on #34
@JasonTypesCodes Can you reproduce it with the latest changes to webpack profile activation?

[2020-08-13 14:15] JasonTypesCodes commented on #160
That works.  Thanks!

[2020-08-13 14:15] #160 closed

[2020-08-13 16:40] JasonTypesCodes commented on #34
I've run it a number of times and the UI resources were always there.  I think this is OBE.  Thanks!

[2020-08-13 16:40] #34 closed

[2020-08-14 04:07] JasonTypesCodes opened #162 "Integration Tests still reference Cache when cache is configured as 'no'"
##### **Overview of the issue**

I ran into this while working on #104.

The `mvn-no-client` sample has cache turned off.  The tests have been failing for a while, but since the workflow is executing `integration-test` instead of `verify`, we didn't notice

##### **Reproduce the error**

Use the `mvn-no-client` sample and run `./mvnw verify`

##### **Related issues**

##### **Project configuration

[2020-08-14 07:10] #104 closed

[2020-08-14 07:33] atomfrede opened #164 "Add dedicated section/page(s) to jhispter.tech website"
We have already a page listing the [official blueprints](https://www.jhipster.tech/modules/official-blueprints/). I think it would be good to at least a dedicated page e.g. describing the main differences (e.g. what features are currently supported). I have something in mind like how to do hot reloading, how to build docker images, the updated heroku documentation for different environment variabl

[2020-08-20 07:03] atomfrede commented on #89
Thanks @mraible for putting the bounty. @JasonTypesCodes Should we share it, without your efforts it would not have been possible that fast?

[2020-08-20 12:59] JasonTypesCodes commented on #89
@atomfrede That is very generous, but no.  You've done amazing work on this and absolutely deserve it.  Also, my job at OCI includes furthering and advancing Micronaut and Grails so all of my efforts are sponsored by OCI :smiley:

[2020-08-20 13:32] atomfrede commented on #89
Thanks. Btw. I have experimented with graal native images. Maybe we can discuss that in the issue as I event can't get the minimal example via https://micronaut.io/launch/ up and running.

[2020-08-20 17:24] JasonTypesCodes commented on #89
If you're having issues with Graal Native Images in Micronaut, an issue may be in order in the Micronaut org.  I would first suggest opening a discussion on the topic (https://github.com/micronaut-projects/micronaut-core/discussions/).  Are your problems related to, or similar to https://github.com/micronaut-projects/micronaut-core/discussions/3937 ?

[2020-08-21 04:52] atomfrede commented on #89
I will do some more testing, I guess I am doing something wrong, although I basically tried to follow https://guides.micronaut.io/micronaut-creating-first-graal-app/guide/index.html but with maven.

[2020-08-24 03:04] #162 closed

[2020-08-24 03:58] JasonTypesCodes commented on #161
This seems to be a bigger issue than just us.  Generating a a project with another blueprint:
`jhispter --blueprints vuejs`
Yields the same results

[2020-08-24 04:17] atomfrede commented on #161
Looks a main generator thing. Will try to have a look during the week.

[2020-08-24 05:52] atomfrede commented on #161
The export function comes from jhipster core, need to check what we can do about it.

[2020-08-24 21:11] agilob opened #166 "Only dev and prod profiles work"
##### **Overview of the issue**

I'm trying to access swagger but noticed that only prod and dev profiles can be used. Starting app with -P dev,swagger starts only dev profile:

[code]

Swagger-ui resource contains invalid content:

![image](https://user-images.githubusercontent.com/2544251/91096955-64ba7400-e64e-11ea-8abc-ce4c2c35fd25.png)

[2020-08-25 04:08] atomfrede commented on #166
You are using gradle? Can you try -Pdev -Pswagger ?

[2020-08-25 10:20] agilob commented on #166
[code]

and the same result when visiting swagger-ui/index.html

[2020-08-25 10:24] atomfrede commented on #166
It is a bug. The dev config does not set micronaut environments at all while the prod config does still set the spring property.

[2020-08-25 19:47] atomfrede commented on #166
Just to make sure, the flags on maven/gradle are mostly used for changing the build/packaging. But to support switching the environment via gradle properties you could do in `profile_dev.gradle`. I guess the more severe issue is, that when building with prod profile the environment is not compiled into the jar.

[code]

[2020-08-25 20:16] atomfrede commented on #166
I think the issue larger than I thought. We build the jar e.g. via `-Pprod`. This e.g. removes h2 and other dev dependencies from the jar. Starting the jar now fails as it tries to access the database via h2 (but depencies are missing). Setting the micronaut environment via system properties works just fine.

@JasonTypesCodes Correct my if thats wrong, but there is no property like `spring.profile

[2020-08-25 22:05] JasonTypesCodes commented on #166
`micronaut.environments` is the property you would use.  They can also be set using an environment variable (`MICRONAUT_ENVIRONMENTS`) and in some cases passed in as a arg (`-micronaut.environments`).

More info here: https://docs.micronaut.io/latest/guide/index.html#environments

[2020-08-26 07:08] atomfrede commented on #166
We use either `MICRONAUT_ENVIRONMENTS` or `micronaut.environments` from system properties and set it in the application context builder. So I think we must read it from a third source in case neither the environment variable nor the system property is provided. Right now the code just uses `dev` if no environments are provided from the outside.

[2020-08-26 14:44] #44 closed

[2020-08-26 22:07] mraible opened #168 "H2 Database UI not available and Faker with Docker Compose"
##### **Overview of the issue**

I recorded a screencast of my Micronaut + JHipster blog post and found a couple of issues:

1. H2 Database link doesn't work in menu - it results in a page not found error
2. Running `app.yml` with Docker Compose still has faker.js data, even though it's a `prod` environment

See [my demo script](https://github.com/oktadeveloper/okta-jhipster-micronaut-example/blob

[2020-08-27 05:00] atomfrede commented on #168
Faker in production is fixed. Regarding h2 console I need to look in more detail. The h2 console is a servlet we add to the servlet context in the main generator. As we use netty maybe that won't work. I think for reactive applications we also don't have a h2 console.

[2020-08-27 05:35] atomfrede commented on #168
I think we can start the h2 webserver, it's just under a different port. So the menu item will open e.g. `localhost:8084` in a new window for example.

[2020-08-27 10:07] agilob commented on #166
[code]

[code]

profile needs to be set using env variable, `maven -D` doesnt work.

[2020-08-27 10:09] atomfrede commented on #166
Yes. Same for gradle right now, but see above how to extend the gradle file. Nevertheless when building the jar with prod profile it should use prod configuration out of box.

[2020-08-27 10:37] agilob commented on #115
Can you assign this to me pls? I have a working prototype

[2020-08-27 10:37] atomfrede commented on #115
:tada: Awesome!

[2020-08-27 16:09] amatosg opened #171 "When importing JDL file: JpaSpecificationExecutor dependency not present in POM"
##### **Overview of the issue**

After I imported a JDL file, every repository was missing the `JpaSpecificationExecutor` dependency

##### **Reproduce the error**

* Create a MN project
* Import a JDL file

##### **Related issues**

None

##### **Suggest a Fix**

add this to the pom file

[code]

-   [x] Checking this box is mandatory (this is just to show you read everything)

[2020-08-28 01:23] amatosg opened #175 "Repository should only use 'save' method"
##### **Overview of the feature request**
I'm not sure if this is a bug or a feature request, so I'm leaving it as FR.

I think using `mergeAndSave`method in repositories should be avoided.

##### **Motivation for or Use Case**

According to the [documentation](https://micronaut-projects.github.io/micronaut-data/1.0.2/guide/index.html#_updating_an_instance_update), in order to either create or upd

[2020-09-01 17:38] JasonTypesCodes commented on #171
I don't think we should be using Spring for this.  @amatosg would you attach a JDL that shows the problem?

[2020-09-01 18:05] amatosg commented on #171
I think the issue is with filtering not being yet supported?

Here's the file:

[code]

[2020-09-01 18:36] JasonTypesCodes commented on #171
You're right.  If you generate a new entity and say that you want to add filtering, it shows this issue.
![image](https://user-images.githubusercontent.com/1888131/91892345-1ca3de80-ec58-11ea-8a37-6b02b4739b3b.png)

I've added the bug label because the prompts allow for this situation.

[2020-09-03 07:40] amanganiello90 commented on #43
HI @JasonTypesCodes !! I will be happy to contribute to this project.
So, this task requires only to enable microservice choise in the prompt questions avoiding client side?

[2020-09-03 08:13] murdos commented on #43
No, I think it involves support for gateway and service discovery too.
FYI I was going to work on this subject too.

[2020-09-03 08:14] amanganiello90 commented on #43
Ok, so I pass to another issue. Thanks

[2020-09-03 08:37] amanganiello90 commented on #49
Hi!! I would like to do this task.
So I have not found an ORM for mongodb. Is it necessary to use [mongodb-driver-sync](https://micronaut-projects.github.io/micronaut-mongodb/latest/guide/) that uses mongoClient?
A minimal configurated [example](https://dzone.com/articles/micronaut-mongodb).

[2020-09-03 09:51] atomfrede commented on #49
Yes I think there is currently no support in e.g. micronaut data like in spring boot data.

[2020-09-03 10:10] amanganiello90 commented on #49
ookkk, I start with that. Thanks

[2020-09-03 13:55] atomfrede commented on #49
Maybe [gorm for mongodb ](http://gorm.grails.org/latest/mongodb/manual/)is something to look at. https://micronaut-projects.github.io/micronaut-mongodb/latest/guide/

[2020-09-03 13:59] amanganiello90 commented on #49
It seems that support only groovy language and not java.

[2020-09-03 14:38] atomfrede commented on #49
Ah you might be right, was not clear to me from the single sentence.

[2020-09-05 10:30] atomfrede commented on #31
I will work on that during the weekend. Found http://www.simplejavamail.org/ which looks like a good alternative to the spring mailer abstraction.

[2020-09-06 18:53] atomfrede commented on #71
I would like to work on that, but maybe we should wait for the first JHipster 7 beta release to have the migration not twice, wdyt?

[2020-09-08 16:02] JasonTypesCodes commented on #49
@atomfrede is correct that Gorm requires Groovy.  While it wouldn't be a requirement to add support for Mongo here, we do have it on our upcoming roadmap in Micronaut: https://github.com/micronaut-projects/micronaut-core/wiki/Top-Level-Roadmap

[2020-09-09 11:04] #31 closed

[2020-09-09 19:12] JasonTypesCodes commented on #113
I'd like to leave a note here that the 2.1 release of micronaut will include a much improved Gradle plugin

[2020-09-10 08:22] amanganiello90 commented on #49
So I can start the issue implementing the mongodb-driver or we should wait for the groovy support?

[2020-09-10 09:02] atomfrede commented on #49
Two things to keep in mind:

* Doing it without proper micronaut data support would involve manual mapping from mongo document to entity/business. This can be done, but its a lot of work we would remote again when micronaut data supports it
* Adding large features now might also not the best idea with the first jhipster 7 beta/pre-release around the corner

[2020-09-10 09:53] amanganiello90 commented on #49
Ok, then I will wait for the jhipster/mongodb supporting and upgrade. Thanks

[2020-09-21 15:40] #168 closed

[2020-09-25 14:49] JasonTypesCodes opened #180 "React Build Failing (Cannot find name 'Cheerio'.)"
The React build seems to be failing in master due to the following:

[code]

https://github.com/jhipster/generator-jhipster-micronaut/blob/master/test-integration/samples/gradle-jwt-react.jdl

[2020-09-25 18:24] atomfrede commented on #180
That's strange. Why did the PR pipeline pass?

[2020-09-25 18:33] JasonTypesCodes commented on #180
I had the same question.  I ran the action again and it failed the same way the second time.  I haven't had the opportunity to dig any deeper yet.

[2020-09-26 09:24] murdos commented on #180
The problem seems to be related to a dependency of jhipster: see https://github.com/jhipster/generator-jhipster/issues/12593

[2020-09-27 19:46] murdos commented on #43
A quick report of my progress, and what currently works:
- skipUserManagement and server-side skipClient (some adjustments will be required in regard to oauth2)
- microservice application type and related prompts
- service and distributed configuration with Consul (required some changes to jhipster/consul-config-loader: https://github.com/jhipster/consul-config-loader/pull/23)
- jwt authentificati

[2020-09-27 20:20] atomfrede commented on #43
:tada: wow! Thats great @murdos !

[2020-09-28 11:34] atomfrede commented on #180
I see. Didn't see that issue. Good to know, so we'll wait for the 6.x fix.

[2020-09-28 12:05] suraj-shingade commented on #180
I am stuck here, Any quick fix.

[2020-09-28 12:44] atomfrede commented on #180
See https://github.com/jhipster/generator-jhipster/issues/12593#issuecomment-699449153 for a workaround

[2020-10-01 20:48] agilob commented on #171
It would be great to see filtering in all framework, whether it's quarkus, mn, helidon or anything else, the one implemented in main jhipster is brilliant.

[2020-10-01 20:51] agilob commented on #113
@atomfrede  If you don't mind I could take a look at this over the weekend? Just waiting for version of 2.1.0 to be in repos. Better understanding might help me with the native image issue.

[2020-10-01 21:07] atomfrede commented on #113
Sure please go ahead.

[2020-10-03 15:04] agilob commented on #166
This seems to be fixed now. At least in gradle I can do `./gradlew clean assemble -Pprod` and it produces prod optimised version

[2020-10-06 07:18] #113 closed

[2020-10-07 09:02] agilob commented on #95
@JasonTypesCodes This is still and issue for me. I think it's broken in jhipster-generator, the top level, not here

[code]

Unless you know how to fix it locally and I'm missing something?

[2020-10-07 17:30] JasonTypesCodes commented on #95
@agilob it must be something beyond just using Enums because we have an enum in https://github.com/jhipster/generator-jhipster-micronaut/blob/master/test-integration/samples/mvn-oauth-angular.jdl

It looks like what I did last time was call a different helper method to get Enum information: https://github.com/jhipster/generator-jhipster-micronaut/commit/3e298c327a3e85bf4785619ddc1e8b6aa4700095#dif

[2020-10-07 19:54] agilob commented on #95
Ahh ok. It works now on 0.5.0. I generated project using 0.1.3.

Upgrade to 0.5.0 doesnt work, all it changes is yo.rc and no other file. Havent tried from younger version to 0.5.0. Project regeneration using 0.5.0 failed with some strange npm error like `__class_dasdasgdfg_FGdf_gdf.js not found. Class name cannot start with _`

[2020-10-14 14:35] JasonTypesCodes opened #189 "Release 1.0.0 Checklist"
Release checklist for 1.0.0 :tada:

Please add any issues, PRs, or steps that you feel should be addressed before release.

* [x] Remove "preview" messages from readme and console output
* [x] #188 (Microservice Support PR)
* [x] Remove dynamic query from options until it is supported (#171)
* [x] #166 ? (Only dev and prod profiles work)
* [x] Update to latest JHipster 6 (#180)
* [x] Change defaul

[2020-10-14 15:49] agilob commented on #189
Native image with metrics is still dependent on some changes in micronaut. I could resume working on it now as the gradle plugin is in, but compilation with native image will still fail with default dependencies as micrometer isn't well supported. Issue has already been addressed by micronaut https://github.com/micronaut-projects/micronaut-core/issues/4155 but feedback isn't positive. Otherwise to

[2020-10-14 20:35] atomfrede commented on #189
My thoughts:

* let's have a first and most likely final release based on jhipster 6
* let's get #188 merged (not sure how much work is still left)
* remove the dynamic filtering for now
* #166 is still an issue. but we could "fix" it with better documentation or e.g. by putting a file and write the default profile which is then used when starting the application
* #174 would be very cool to have,

[2020-10-15 05:41] JasonTypesCodes commented on #189
@atomfrede I think that sounds great.  I modified the checklist above to match.  Please feel free to edit as you see fit.

I think that is a great idea!

[2020-10-15 22:07] JasonTypesCodes commented on #189
@atomfrede I created a main branch and pushed it up, but I don't seem to have rights to the repo to swap the default branch to it.  Is that something you are able to do?

[2020-10-16 05:51] atomfrede commented on #189
😁 I don't have the permission either. I thought you have

[2020-10-16 14:58] JasonTypesCodes opened #191 "Switch Default Branch to 'main'"
I've pushed a main branch up, but myself and @atomfrede do not have repository rights to change the default branch.

@sendilkumarn or @mraible, can one of you help us with this?

[2020-10-16 15:27] gzsombor commented on #171
Thanks @agilob , that's definitely made my day!

I would happily work on adding filtering for Micronaut, if no one else has started working on yet.

As neither Micronaut, and AFAIK nor Quarkus supports any dynamic criteria builder out of box, apart from what is available in JPA/Hibernate, I can imagine the following implementation:
* using JPA Criteria API
  * pro: JPA is nearly universal, no extr

[2020-10-16 15:32] mraible commented on #191
I don't see a settings tab, which means I don't have permission either.

[2020-10-16 16:55] murdos commented on #171
I started work on the subject a few days ago (mainly thinking about solutions).
My plan was to try to use micronaut support for Spring Data JPA specification.

[2020-10-16 17:12] amatosg commented on #171
I use JPA, but, IMHO it would be fair to also support other others

[2020-10-17 11:25] gzsombor commented on #171
With micronaut-spring-data-jpa, the necessary changes are surprisingly [small](https://github.com/jhipster/generator-jhipster-micronaut/compare/master...gzsombor:filtering-spring-jpa).
 However, these spring dependencies are sort of cheating :wink: Ideally, we would need to separate the jhipster-framework to several smaller module, for example to jhipster-spring-framework / jhipster-spring-reactiv

[2020-10-17 17:10] agilob opened #192 "Upgrade micronaut-liquibase"
Generated projects have this comment:

[code]

micronaut-liquibase now supports 3.10.2

https://github.com/micronaut-projects/micronaut-liquibase/releases/tag/v2.1.0

[2020-10-19 07:21] murdos commented on #171
IMO starting with micronaut-spring-data-jpa is a good enough solution, until micronaut-data supports dynamic query criteria: https://github.com/micronaut-projects/micronaut-data/issues/89

[2020-10-19 07:57] gzsombor commented on #171
Have you encountered "org.hibernate.HibernateException: Could not obtain transaction-synchronized Session for current thread" with this implementation? This is where I've stopped working on this.

[2020-10-19 07:59] murdos commented on #171
Yes. Adding micronaut-spring dependency solves the issue.

[2020-10-20 07:00] atomfrede commented on #191
Pascal gave me permission, I switched the default branch to main. All PRs are pointing to main now as far as I can see, so you need to update your forks/local projects.

[2020-10-20 07:00] #191 closed

[2020-10-20 09:13] atomfrede commented on #43
I think #188 closed this. Don't forget to claim your bounty @murdos, well deserved!

[2020-10-20 09:13] #43 closed

[2020-10-20 17:55] avdev4j commented on #189
Jason, If you are still interested by that please contact me on Twitter (@avdev4j) . I would love to have more companies to participate to this November virtual meetups.

[2020-10-20 17:55] #180 closed

[2020-10-20 22:40] murdos opened #197 "Test compilation failure with entity generated with service option"
##### **Overview of the issue**

Test compilation failure:

[ERROR] /C:/dev/workspace/jhipster/tests/mn-mvn-jwt-angular/src/test/java/com/mycompany/myapp/web/rest/LabelResourceIT.java:[165,9] cannot find symbol
[ERROR]   symbol:   variable labelService
[ERROR]   location: class com.mycompany.myapp.web.rest.LabelResourceIT
[ERROR] /C:/dev/workspace/jhipster/tests/mn-mvn-jwt-angular/src/test/java/co

[2020-10-20 22:45] murdos commented on #175
When no service is generated for entity, I'm not sure because of the `@Transactional` annotation on the `mergeAndSave` method.
But when entity is generated with serviceClass or serviceImpl we should definitely not generate and use this `mergeAndSave`: the transaction is handled at the service level.

[2020-10-20 22:47] murdos commented on #63
This ticket can be closed, support for Consul has been added while adding support for microservice: https://github.com/jhipster/generator-jhipster-micronaut/pull/188

[2020-10-20 22:54] murdos opened #198 "Test compilation failure with required relationship"
##### **Overview of the issue**

[ERROR] /C:/dev/workspace/jhipster/tests/mn-mvn-jwt-angular/src/test/java/com/mycompany/myapp/web/rest/OperationResourceIT.java:[84,35] variable label might not have been initialized

##### **Reproduce the error**

Generate entities with a `required` relationshipValidateRules.

##### **Related issues**

##### **Suggest a Fix**

##### **Project configuration**

####

[2020-10-20 23:00] murdos opened #199 "Improve integration tests by including more entities configurations"
##### **Overview of the feature request**

As shown with the last 2 issues I reported - https://github.com/jhipster/generator-jhipster-micronaut/issues/198 and https://github.com/jhipster/generator-jhipster-micronaut/issues/197 - the entity generator is not well tested.

We should test various options: service, relationship, pagination, different field types, ...
IMO we should pick some very relev

[2020-10-20 23:07] murdos commented on #189
Here are tickets I think we should fix before moving to 1.0 (in addition to the one already mentioned):
- #175
- #197
- #198
- #199

[2020-10-21 07:04] mraible commented on #189
Adding a bug bounty so y'all can have some beers on us when this is released! 🍻

[2020-10-21 07:05] mraible commented on #63
Nice work, @murdos! I've added a bounty for this.

[2020-10-21 07:15] #63 closed

[2020-10-26 10:05] #197 closed

[2020-10-26 10:07] #198 closed

[2020-11-06 22:15] #192 closed

[2020-11-22 12:20] poornerd commented on #54
+1 for OpenAPI/Swagger Code Generation

[2020-11-24 16:52] JasonTypesCodes opened #208 "Upgrade to Micronaut 2.2.x"
This will require a bit more than a simple version bump.

[2020-11-24 21:18] #208 closed

[2020-11-27 20:00] poornerd opened #211 "ERROR! Invalid Version: latest when upgrading to 0.7.0"
##### **Overview of the issue**
When I try to upgrade: mhipster upgrade, I get this error.  (I used npm to update jhipster and mhipster)

✔ Checking for new blueprint versions
Looking for latest generator-jhipster-micronaut version...
0.7.0
ERROR! Invalid Version: latest
TypeError: Invalid Version: latest

##### **Reproduce the error**

When I try to upgrade: mhipster upgrade, I get this error.  (

[2020-11-28 04:34] JasonTypesCodes commented on #211
I was able to recreate this.  It may be something in the upstream generator.
[code]

I did a little console.log debugging and found that the version listed in the "blueprint" object indeed says "latest" even though in .yo-rc.json it clearly says 0.6.0

[2020-12-03 17:05] JasonTypesCodes opened #212 "Review existing Swagger / OpenAPI support"
While researching #199 I stumbled on some outdated Swagger annotations that need to be fixed.  After some investigation into that, I'm not confident that our Swagger/OpenAPI functionality is behaving correctly.  I had to make a number of configuration updates to a test application to retrieve the OpenAPI yaml, and it looked like the file that was produced only contained test endpoints.  I haven't

[2020-12-12 04:05] CoderYellow opened #214 ""skipUserManagement" option is not working"
##### **Overview of the issue**

Support for `skipUserManagement` option

##### **Reproduce the error**
[code]
error:
[code]

##### **Related issues**

##### **Suggest a Fix**

[jhispter-core](https://github.com/jhipster/jhipster-core/blob/3db059eb732ab1f7141ced7e5770d623f76033f5/lib/validators/business_error_checker.js#L153)
[code]
`this.applicationSettings.skippedUserManagement` being undefined

[2020-12-14 15:00] JasonTypesCodes commented on #214
Need to dig into this a bit, but I'm not aware of us changing the way that option is parsed from the jdl.  It could be that this is an issue with the upstream generator

[2020-12-17 13:44] CoderYellow opened #215 "Support for kotlin"
##### **Overview of the feature request**

https://github.com/jhipster/jhipster-kotlin

##### **Motivation for or Use Case**

It is grate feature.

##### **Related issues or PR**

[2020-12-17 14:50] atomfrede commented on #215
Right now this is out of scope.

[2020-12-17 14:50] #215 closed

[2020-12-19 15:51] pascalgrimaud commented on #44
Bounty claim at https://opencollective.com/generator-jhipster/expenses/30257 by @murdos
Approved

[2021-01-04 16:33] JasonTypesCodes commented on #189
@atomfrede I have a draft PR to address a few issues I discovered while adding more entity relationships to the CI.  There is currently an issue with User entities in the integration tests that I haven't had time to figure out yet.  I'll see if I can put some time towards that today or tomorrow.  Are there any "must haves" from your point of view before 1.0.0?  From my perspective, the other items

[2021-01-18 09:18] atomfrede commented on #189
Sorry for the delay. I would also say let's move forward to 1.0.0. I won't make it to look into detail with gatling. The documentation is currently under discussion on the mailing list where to put it. Current state is official blueprints will be put to top level such that each blueprint has an own page (and subpages). Can I support you somehow in fixing the remaining issues in https://github.com/

[2021-01-20 21:46] JasonTypesCodes opened #219 "Support for OneToOne relationship with jpaDerivedIdentifier"
##### **Overview of the issue**

While adding entity configurations for #199, I have hit an error with the following JDL:
[code]

I suspect this may be an issue with Micronaut Data or Hibernate, but some more research is needed to be sure.  I wanted to log this as a separate issue as not to hold up #213 longer than needed.
##### **Reproduce the error**

Generate a project with provided JDL and run

[2021-01-21 12:58] devops-myefm opened #220 "Cannot execute a brand new application, Error instantiating bean of type [io.micronaut.security.oauth2.routes.OauthRouteBuilder]"
I've created a microservice application from scratch just to give a try, ran a jhipster registry instance using the docker-compose file generated and than executed ./gradlew to see the result.

 Unfortunately it gave me this exception during boot:

`
13:50:16.476 [main] ERROR io.micronaut.runtime.Micronaut - Error starting Micronaut server: Bean definition [com.mycompany.myapp.config.LoggingConfig

[2021-01-22 12:30] atomfrede commented on #199
As suggested by @JasonTypesCodes let's close this and add more concrete issues if needed.

[2021-01-22 12:30] #199 closed

[2021-01-22 17:32] JasonTypesCodes commented on #189
@atomfrede I'll take a look at #175

[2021-02-09 12:22] vcupelloni commented on #220
Same issue with 0.8.0
Does anyone know a workaround for this?

[2021-02-10 04:06] mraible opened #223 "Compilation error when creating app with blog-oauth2 JDL"
##### **Overview of the issue**

Creating an app with the [`blog-oauth2` JDL](https://github.com/jhipster/jdl-samples/blob/main/blog-oauth2.jdl) results in a compilation error.

[code]

Run `./mvnw` after the process completes. You'll see the following errors:

[code]

##### **Reproduce the error**

Install Micronaut for JHipster 0.8.0, then run the commands above.

##### **Related issues**

I als

[2021-02-10 04:12] mraible commented on #223
The first error, from `PostResource` happens because Micronaut has a `@Post` annotation and the entity's name is `Post`. I changed all references to the `Post` entity to `com.jhipster.demo.blog.domain.Post` and it fixed the problem. For example:

[code]

[2021-02-10 04:25] mraible commented on #223
The `CacheConfiguration` compilation issue seems to come from `cacheProvider hazelcast` in the JDL. If I change it to `ehcache`, it works.

It seems like the `jdl` command should some sort of validation to make sure the values are valid for a blueprint?

[2021-02-10 19:31] mraible opened #224 "Is it possible to set / as an oauth2 logout path?"
##### **Overview of the feature request**

I'm trying to integrate [JHipster + Micronaut support in the Okta CLI](https://github.com/okta/okta-cli/pull/83). One of the issues I've run into is we use `/` as a logout redirect URI for Spring Security. It also works with Quarkus.

If I try the following, it results in a 405 error when I load up `http://localhost:8080`.

[code]

If I change `...logout.

[2021-02-10 20:01] mraible commented on #224
I should clarify that I'm not interested in changing the logout endpoint's path in the JHipster-generated app. I'm interested in changing the `post_logout_redirect_uri` that's sent to the identity provider. See [Okta's /logout API](https://developer.okta.com/docs/reference/api/oidc/#logout) for more info.

[2021-02-12 12:32] atomfrede commented on #223
Good point, I think we don't do something to validate the jdl. For the `@Post` vs `Post`-Entity, do you think we should add that to protected words/names or import e.g. `@Post` fully qualified so there will be no clash with any user defined entity name?

[2021-02-15 16:59] JasonTypesCodes commented on #224
The setting I think you are looking for is `micronaut.security.redirect.logout`.  It should default to "/"

[2021-02-15 17:14] mraible commented on #224
I believe @bdemers figured out a solution. Therefore, I'll close this issue.

[2021-02-15 17:14] #224 closed

[2021-02-15 21:41] atomfrede commented on #224
@mraible Don't comment while on vacation :smile: :palm_tree:

[2021-03-07 13:53] #166 closed

[2021-03-13 04:25] JasonTypesCodes commented on #220
I was able to reproduce this, but the bean that fails to instantiate seems to change on each run so I think the specific error above is a red herring.  I have seen the OauthRouteBuilder as reported above, but I've also seen other beans including DefaultRouter.  I don't know much about the JHipster Registry, but I believe it is running Eureka.  I'm suspicious of the Eureka configuration, but that i

[2021-03-13 08:21] agilob opened #231 "Contributions instructions out of date?"
I needed to update mhipster and jhipster, installation and npm link worked, but I can't generate mhipster application:

[code]

[code]

Which version should I be using?

[2021-03-13 08:23] agilob commented on #231
nvm it says in the error. I just switched jhipster-generator branch to v6.10.5 :D

[2021-03-13 08:23] #231 closed

[2021-03-16 16:20] atomfrede commented on #223
@mraible Can you check it works now when changing to a supported cache provider out of box? Will track the sanity check for JDL configuration options in a dedicated issue.

[2021-03-16 16:36] mraible commented on #223
Tried with v7 main branch and it fails. I knew it would, but figured I'd document the error here in case someone is searching for it. 🙂

[code]

After installing `generator-jhipster@6.10.5`, and using `npm link` in a fresh checkout, I can confirm everything compiles. 👍

However, the tests do not pass, nor does the app startup.

[code]

What should I change `cacheProvider` too? It's currently set t

[2021-03-16 16:41] atomfrede commented on #223
Currently `ehcache`, `caffeine` and `redis` are supported.

[2021-03-16 16:48] mraible commented on #223
I [updated blog-oauth2.jdl](https://github.com/jhipster/jdl-samples/commit/f672b1fd258f45c1fa14e1c737157abf651dab52) to use Ehcache. Now I'm able to start it!

FWIW, `npm run e2e` fails, but I've seen this on the main generator too, so probably not related to Micronaut.

[code]

[2021-03-16 16:50] atomfrede commented on #223
It looks like no e2e spec files have been generated

[2021-03-16 16:53] mraible commented on #223
e2e files exist:

[code]

[2021-03-29 06:41] #175 closed

[2021-03-29 06:41] atomfrede commented on #223
Let's close this as the compilation error is fixed. We will tackle the jdl validation in a different issue after jh7 migration.

[2021-03-29 06:41] #223 closed

[2021-04-01 03:00] JasonTypesCodes commented on #220
After some more digging, it seems that this configuration is resulting in a stackoverflow during bean instantiation.  I need to continue to dig a bit more, but that explains why it happens at different points in the process in subsequent runs

[2021-04-01 06:32] atomfrede commented on #220
Did you check the eureka configuration? At least at first glance it looks totally different from the official micronaut guides, but I don't see why a wrong configuration results in a stackoverflow

[2021-04-02 22:02] JasonTypesCodes commented on #220
I'll take a look at that for the purposes of moving us forward, but I do want to understand the source of the stackoverflow as it may be a bug in mn

[2021-04-03 06:42] JasonTypesCodes commented on #220
It seems that the problematic combination is OpenID *and* Eureka.  If you set `micronaut.security.oauth2.enabled` to `false`, or remove the `micronaut.security.oauth2.clients.oidc.openid` config, the service will start up correctly.  I'm going to recreate this with a vanilla Micronaut app and open an issue there.

[2021-04-03 07:16] JasonTypesCodes commented on #220
See: https://github.com/micronaut-projects/micronaut-core/issues/5208

[2021-04-04 09:52] atomfrede commented on #220
So we could document this a known issues/limitation for the 1.0 release, what do you think?

[2021-04-05 04:39] JasonTypesCodes commented on #220
I'm OK with that.

[2021-04-08 10:01] atomfrede opened #238 "Clean up gradle build file"
##### **Overview of the feature request**

With the latest micronaut gradle plugin manual configuration for incremental compilation is not required anymore. We should remove it.

This (we already have) and replaces

[code]

[code]

Furthermore the custom [config for continuous compilation](https://github.com/micronaut-projects/micronaut-gradle-plugin#micronaut-application-plugin) we have in the de

[2021-04-10 17:28] JasonTypesCodes commented on #189
https://github.com/jhipster/generator-jhipster-micronaut/releases/tag/v1.0.0

1.0.0 has been Released!

Thank you everyone for all of your contributions!  Especially:

@atomfrede @agilob @murdos @sendilkumarn @willbuck @ZacharyKlein  and @mraible

----

@atomfrede and myself are working on a joint blog post and a webinar.  I think #164 will be a natural next step.

Next steps are to move towards J

[2021-04-11 11:44] atomfrede commented on #189
Thanks to everyone involved making this collaboration possible and really fun to work!

[2021-04-11 20:06] atomfrede commented on #189
Bounty claimed https://opencollective.com/generator-jhipster/expenses/38249

[2021-04-11 20:06] #189 closed

[2021-04-11 20:06] atomfrede commented on #189
Bounty claimed https://opencollective.com/generator-jhipster/expenses/38249

[2021-04-19 06:32] atomfrede opened #240 "Heroku deployment via gradle"
##### **Overview of the issue**

Deploying an app to heroku with gradle does not work out of box.
Using git deployment seems to have no resources/frontend build, although the build is executed.
Deploying via jar method does not build a correct shadow/executable jar, such that the frontend is not contained in the jar.

Doing `./gradlew assemble && heroku deploy:jar build/libs/*-all.jar` works fine.

[2021-04-19 07:43] atomfrede commented on #240
Two things to notice:

* the build command should be different
* The [wrong](https://github.com/jhipster/generator-jhipster/blob/d47011cf0b85f968ce894d542a6a6d544b9056ac/generators/heroku/index.js#L826) jar might be selected if multiple jars are in the folder

[2021-04-19 14:24] JasonTypesCodes commented on #49
I wanted to leave a note here to say that while Micronaut Data does not support Mongo yet (https://github.com/micronaut-projects/micronaut-data/issues/220), there is a Micronaut MongoDB module here: https://micronaut-projects.github.io/micronaut-mongodb/latest/guide/

[2021-04-22 15:53] JasonTypesCodes commented on #220
This should be resolved with Micronaut 2.4.3 which will we expect to be released within the next few days

[2021-04-22 19:45] sendilkumarn opened #242 "Support Kotlin"
##### **Overview of the feature request**

Can we add Kotlin support for Micronaut?

##### **Motivation for or Use Case**

We can compose multiple blueprints together, can we create a Kotlin blueprint on top of this blueprint

##### **Related issues or PR**

NA

[2021-04-22 20:03] JasonTypesCodes commented on #242
I'm not 100% sure, but I think we would need to completely override the server portions of the blueprint.  The UIs (should) be able to remain untouched

[2021-04-23 07:46] atomfrede commented on #242
@sendilkumarn Let's wait for the JH7 upgrade of this blueprint, not sure we can handle maintaining another set of templates.

[2021-04-28 03:55] JasonTypesCodes commented on #220
Unfortunately, I discovered a different but similar issue after the first issue was resolved.  See: https://github.com/micronaut-projects/micronaut-security/issues/634

[2021-04-29 07:57] DanielFran opened #244 "Migrate Zalando problem to Micronaut problem"
##### **Overview of the feature request**

It has been implemented a problem integration directly in micronaut framework.

Check here: https://micronaut-projects.github.io/micronaut-problem-json/snapshot/guide/

##### **Motivation for or Use Case**

##### **Related issues or PR**

[2021-04-30 07:16] #220 closed

[2021-04-30 07:17] atomfrede commented on #244
Thanks @DanielFran for the hint. We will do it while adapting to JH7

[2021-05-05 03:40] liefra commented on #211
I'm getting the same error while trying to upgrade from version `0.8.0`(as it is in `.yo-rc.json`) to `1.0.1`. I have jHipster `6.10.5` installed.

Here is the error on MacOS

[code]

[2021-05-06 15:20] atomfrede opened #246 "DockerBuild does not build to `latest`"
##### **Overview of the issue**

When using e.g. `./gradlew dockerBuild` the resulting image is build only to `app:VERSION`.
The created docker-compose configurations expect it as `latest` version.

##### **Reproduce the error**

Create an application, do a docker build and try to start the generated app.yml via docker-compose

##### **Related issues**

None.

##### **Suggest a Fix**

Just for gra

[2021-05-07 09:59] #246 closed

[2021-05-08 13:40] poornerd commented on #211
@liefra did you every get it working? I did not (also on MacOS).  Are you on an M1 Mac? (I am - I hope that does not make a difference)

[2021-05-08 13:43] poornerd commented on #240
Yes, I have hadn't noticed yet either that I would have a problem as soon as I bump the version with potentially having multiple jars.
I suppose the workaround could be to add "clean" to the build command?

`./gradlew clean assemble && heroku deploy:jar build/libs/*-all.jar`

[2021-05-10 07:42] atomfrede commented on #240
For the multiple jar thing I have a PR already. There seems to be a problem with the git deployment, regarding the frontend build https://github.com/jhipster/generator-jhipster-micronaut/pull/241/files

[2021-05-10 14:51] JasonTypesCodes opened #250 "Upgrade to JHipster 7"
See: #233

@atomfrede do you have a good feel for everything that is required for this move?

[2021-05-10 14:55] atomfrede commented on #250
Not yet. Would try to generate an application with jhipster 7 and see what's working and what's not.

[2021-06-15 15:19] JasonTypesCodes opened #252 "DatabaseAuthenticationProvider is using EmailValidator to determine if input is an email"
DatabaseAuthenticationProvider is using EmailValidator to determine if input is an email and then based on the result determines how to query the database.

We don't have a context or annotation metadata to pass to the validator and are currently passing a null.  We were lucky in that an older implementation of the class wasn't using that.  The newer implementation does and this is holding us back

[2021-06-26 06:00] codersage-in commented on #126
Comment out following.

<requireJavaVersion>
                                <message>You are running an incompatible version of Java. JHipster supports JDK 8 to 15.</message>
                                <version>[1.8,16)</version>
</requireJavaVersion>

It worked for me ;-)

[2021-07-15 04:13] amatosg opened #255 "HttpsStatus is not being imported when importing from JDL"
##### **Overview of the issue**
When defining a relationship like `JobHistory to Employee` instead of `JobHistory{employee} to Employee` and importing it from a JDL file, the `HttpsStatus` object is not being imported:
[code]
I asume the import is from `org.springframework.http.HttpStatus`

##### **Reproduce the error**
<details>
<summary>JDL entity definitions</summary>

<pre>
entity Region {
  r

[2021-07-22 18:16] amatosg commented on #171
hi! any update on this issue? 😃

[2021-08-04 19:23] mraible commented on #250
Added bug bounty to increase motivation. 😉

[2021-09-21 02:33] mraible commented on #115
Increased bounty to 500.

[2021-09-23 18:02] JasonTypesCodes opened #259 "Update to Micronaut 3"
##### **Overview of the feature request**

Micronaut 3 has been released!!  It would be good to update this blueprint to support it

[2022-01-24 07:22] abdlquadri commented on #164
Hello @atomfrede , I discovered JHipster recently and thought it would a great way to start by contributing something to the project.

If I understand this issue correctly, you would like a section on the [jhipster website](https://github.com/jhipster/jhipster.github.io) showing the differences between each officially sported blueprint like in tabular format.

As for the second part of adding spec

[2022-01-24 07:33] atomfrede commented on #164
Hi @abdlquadri yes something like this. We tried to keep things mostly the same for e.g. quarkus and micronaut, but there are of course not all features implemented in each blueprint and there are some differences e.g. in maven or gradle tasks, which we should document.

[2022-01-24 07:42] abdlquadri commented on #164
Ok. I will send an initial PR to https://github.com/jhipster/jhipster.github.io and see how it goes.

[2022-02-17 08:17] mraible commented on #115
FWIW, I plan to fix this in April. If you fix it before I do, you win 500 USD!

[2022-06-08 15:49] dstepanov commented on #49
FYI Micronaut Data supports MongoDB already

[2022-08-08 03:36] kevintanhongann commented on #259
Any updates on this? Is it still on?

[2022-08-08 03:46] mraible commented on #259
As you can see from the bug bounty I added four months ago, I'm very interested in this feature.

@atomfrede I have time this week to bring this blueprint up to date. Where would you suggest I start?

[2022-08-08 03:50] atomfrede commented on #259
Good question. I think creating a plain micronaut app e.g. with oauth would be a good start to see what has changed and afterwards update the templates.

[2022-08-08 03:50] kevintanhongann opened #266 "Generate thymeleaf forms from JDL based on the "no client" selection on mhipster"
##### **Overview of the feature request**

This feature request is about generating Thymeleaf forms based on the JDL script with entities and  relationships.

##### **Motivation for or Use Case**

The reason behind the feature request is when one generates a mHipster project and one generates a no-client skeleton project, one has the option to code a monolithic app based on Micronaut + Thymeleaf f

[2022-08-08 03:54] kevintanhongann commented on #259
I have managed to upgrade a mHipster app from Micronaut 2 to Micronaut 3. The changes are mostly related to Authentication classes, and package name changes for javax.inject to jakarta.inject. If you need more feedback from me, please do let me know.

[2022-08-08 03:55] mraible commented on #266
If you'd like to create a blueprint for this, it should be possible and widely appreciated. However, making it work is one thing, maintaining it for years to some is another. It's a cool idea that many folks would like, but it's possible the maintenance burden would make you question the choices you've made in life. 😉

[2022-08-08 03:57] mraible commented on #259
@kevintanhongann Excellent! That's wonderful to hear that success is possible. I'll reply to this thread if/when I run into issues.

[2022-08-08 04:02] kevintanhongann commented on #259
additional dependencies  required:

implementation("io.micronaut.rxjava3:micronaut-rxjava3:2.3.0")
implementation("io.micronaut.rxjava3:micronaut-rxjava3-http-client:2.3.0")

[2022-08-08 04:12] mraible commented on #259
@kevintanhongann If you have the time to contribute to this issue, please do! Create a PR with the upgraded versions, add these dependencies, and let's see what happens!

Here's our [contribution guide](https://github.com/jhipster/generator-jhipster-micronaut/blob/main/CONTRIBUTING.md).

[2022-08-08 04:13] atomfrede commented on #266
What Matt said. In particular doing it for micronaut blueprint. I would
suggest to start for spring. Maybe even keep the usual json API and create
the new controllers besides the generated controller instead of trying to
modify the generated ones.

On Mon 8. Aug 2022 at 05:55, Matt Raible ***@***.***> wrote:

[2022-08-08 04:14] kevintanhongann commented on #259
I'll try. So far I only got the main codebase of my project working. I got
my test classes half done. Will need to spend some more time to identify
what has changed then I'll get back to you ASAP.

On Mon, Aug 8, 2022 at 12:12 PM Matt Raible ***@***.***>
wrote:

--
*Kevin H.A Tan*

*Technologist in Web & Mobile*

*https://linktr.ee/kevinhatan <https://linktr.ee/kevinhatan>*

[2022-08-08 04:14] atomfrede commented on #259
That's great news! Let's see how far we can get.

[2022-08-08 05:05] kevintanhongann commented on #259
I'm reading on how the generator works. Trying to find where the version variables are set e.g. versions.micronaut. Can anyone guide where the file is located within the generator project?

[2022-08-08 07:59] kevintanhongann commented on #259
@atomfrede please have a look at what I did for an openid example. https://github.com/kevintanhongann/mhipster-openid-example, and it seems to me that my own project(in which it used JWT auth) has the same issue in the end for ./gradlew test

https://pastebin.com/6q96N65e

I think this is the last piece of the puzzle that needs to be solved before I can conclude the changes that I need to make to

[2022-08-08 08:04] kevintanhongann commented on #259
I think i know what's the problem with the pastebin error. Jacoco  doesn't support java17 it seems.

[2022-08-08 13:04] kevintanhongann commented on #259
I'm close. One last(hopefully) question. Where is the serverPort variable (where the root file is supposed to be located)? I believe the variable was supposed to register in the yml files being application-dev.yml and my application-test.yml but it didn't.

I think that is the last piece that I need to do to finalize my commit so that you guys can review my changes.

[2022-08-08 18:47] mraible commented on #259
For Spring Boot we, define it in both `application-dev.yml` and `application-prod.yml`:

- https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/resources/config/application-dev.yml.ejs#L272
- https://github.com/jhipster/generator-jhipster/blob/main/generators/server/templates/src/main/resources/config/application-prod.yml.ejs#L247

It's not used in any test

[2022-08-09 03:48] kevintanhongann commented on #259
Here is my findings,

Normally some constants are trickling down from constant.cjs file to the sub files.
![IMG_20220809_114347](https://user-images.githubusercontent.com/359537/183559687-935c5f22-dec6-42d2-9f32-a1e7dd41b75c.jpg)

except for **frontendAppName**, **packageName**, **serverPort** and **baseName**. I assume they''re obtained from the prompt?

Then that could mean one thing - I should

[2022-08-09 03:51] mraible commented on #259
I don't think you need to worry about `serverPort`. It defaults to 8080 and is mostly there for microservices, so we can change the ports when generating a microservice apps (to avoid port conflicts). I don't think this blueprint supports microservice architectures, yet.

[2022-08-09 04:00] atomfrede commented on #259
Exactly. No Microservice Support yet. Nice picture👍

[2022-08-09 04:17] kevintanhongann commented on #259
PR submitted https://github.com/jhipster/generator-jhipster-micronaut/pull/267

[2022-08-09 04:28] kevintanhongann commented on #115
If nobody is looking at this, I'll take it on. I could use some quick cash. But let me double confirm with you guys again.

[2022-08-09 04:30] kevintanhongann commented on #250
I assume the issue is done and merged?

[2022-08-09 04:39] atomfrede commented on #115
Please go ahead. I guess it should be easier after update to micronaut 3.x, so maybe start after the update is merged or start with your update branch.

[2022-08-09 04:43] mraible commented on #250
Yes.

@mshima Please collect your bounty so we can close this issue.

[2022-08-09 04:59] kevintanhongann commented on #266
@atomfrede now that you've mentioned it, it makes more sense to do it in the original Spring Boot flavor first before doing it for Micronaut. I want to see the commonalities between the two flavors and assess whether it's beneficial to create a blueprint for this. Thanks for the input on that.

[2022-08-09 21:00] mshima commented on #250
Bounty claimed https://opencollective.com/generator-jhipster/expenses/89839.

[2022-08-09 21:03] mshima commented on #250
I don't have permission to close the issue.

[2022-08-09 21:04] #250 closed

[2022-08-10 08:33] DanielFran commented on #250
@mshima approved

[2022-08-10 09:37] mshima commented on #250
@DanielFran thanks

[2022-08-18 04:09] kevintanhongann opened #268 "UserService activateRegistration method didn't set activation key properly"
##### **Overview of the issue**

##### **Reproduce the error**

1. Go through register
2. Go through activation
3. Login will be unsuccessful.

##### **Related issues**

N/A

##### **Suggest a Fix**

[code]

to

[code]
##### **Project configuration**

Any project that doesn't use third party auth.

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

N/

[2022-08-18 04:41] kevintanhongann commented on #252
Should be merged into #259, along with #268 if that one is fixed as well. That should fix the whole user registration workflow issue.

[2022-08-19 12:13] alina-yur opened #269 ""ERROR! This is a JHipster blueprint and should be used only like jhipster --blueprints micronaut""
##### **Overview of the issue**

Hi! I'm trying to use this blueprint, but it fails when I'm trying to generate a project. the steps are below.

##### **Reproduce the error**

[code]

##### **Related issues**

##### **Suggest a Fix**

##### **Project configuration**

##### **Entity configuration(s) `entityName.json` files generated in the `.jhipster` directory**

##### **Browsers and Operating Sys

[2022-10-11 07:18] atomfrede commented on #266
There is a blueprint for spring version of the Generator. As native images
are part of micronaut I would not create an additional blueprint. Combining
multiple blueprints customizing same generator parts is also quite
complicated.
On Tue 9. Aug 2022 at 06:59, Kevin H.A Tan ***@***.***> wrote:

[2022-10-11 09:14] kevintanhongann commented on #259
I'm close. One last(hopefully) question. Where is the serverPort variable?
I believe the variable was supposed to register in the yml files being
application-dev.yml and my application-test.yml but it didn't.

I think that is the last piece that I need to do to finalize my commit so
that you guys can review my changes.

On Mon, Aug 8, 2022, 12:14 PM Frederik Hahne ***@***.***>
wrote:

[2022-10-11 09:56] atomfrede commented on #259
What do you mean by "where"? Where it is defined? It should come from the main generator and you can use it in templates via `<%= serverPort %>` I think (need to check if it has been renamed or so, but I don't think so).

[2022-10-11 09:59] atomfrede commented on #259
@kevintanhongann  By the way did you try https://docs.openrewrite.org/reference/recipes/java/micronaut/micronaut2to3migration on a generated project?

[2022-11-19 23:41] isentrope opened #270 "Getting started instructions fail w/ Error: ENOENT: no such file or directory, scandir 'generator-jhipster/lib/generators'"
##### **Overview of the issue**

##### **Reproduce the error**

➜  src npm --version
8.19.3
➜  src ls /usr/local/lib/node_modules/
npm/
➜  src npm install -g generator-jhipster-micronaut

<installs>

➜  src ls /usr/local/lib/node_modules/
generator-jhipster-micronaut/	npm/
➜  src mkdir jhipster
➜  src cd jhipster/
➜  jhipster mhipster
Local install was preferred but not found.
INFO! Using JHipster

[2022-11-19 23:43] isentrope commented on #270
The failing directory ^^^ indeed does not exist, neither does the lib prefix directory for it.

➜  jhipster ls /usr/local/lib/node_modules/generator-jhipster-micronaut/node_modules/generator-jhipster/lib/generators
ls: /usr/local/lib/node_modules/generator-jhipster-micronaut/node_modules/generator-jhipster/lib/generators: No such file or directory
➜  jhipster ls /usr/local/lib/node_modules/generat